
{{#each items}}
<tr>
    <!--<td><input type="checkbox" /></td>-->
    <td>{{GamificationCode}}</td>
    <td>{{Description}}</td>
    <td>{{IncreasePoint}}</td>
    <td>
        {{#if_equals ApplyTo 1}}
            Website
        {{else}}
            Shop
        {{/if_equals}}
    </td>
    <td class="text-center">
        {{#if_equals RecStatus 1}}
            <span class="badge badge-success">Active</span>
        {{else}}
            <span class="badge badge-default">Inactive</span>
        {{/if_equals}}
    </td>
    <td>
        <a name="edit" data-id="{{GamificationPointId}}" type="button" class="btn btn-link">
            <span style="margin-left:15px;" class="glyphicon glyphicon-pencil"></span> แก้ไข
        </a>
        <a name="delete" data-id="{{GamificationPointId}}" type="button" class="btn btn-link">
            <span style="margin-left:15px;" class="glyphicon glyphicon-trash"></span> ลบ
        </a>
    </td>
</tr>
{{/each}}
