
{{#each items}}
<tr>
    <td>{{Id}}</td>
    <td>{{Name}}</td>
    <td style="text-align:right">{{formatCurrency UnitPrice}}</td>
    <td style="text-align:right">{{formatCurrency RegularPoint}}</td>
    <td style="text-align:right">{{formatCurrency SilverPoint}}</td>
    <td style="text-align:right">{{formatCurrency GoldPoint}}</td>
    <td style="text-align:right">{{formatCurrency PlatinumPoint}}</td>
</tr>
{{/each}}
