
{{#each items}}
<tr>
    <td>{{Code}}</td>
    <td>{{Description}}</td>
    <!--<td>
        {{#if_equals RewardType 1}}
            ใช้คะแนนเท่านั้น (แต้ม)
        {{else}}
            ใช้คะแนนและเพิ่มเงิน
        {{/if_equals}}
    </td>-->
    <td class="text-center">{{PointOnly}}</td>
    <td class="text-center">{{Point}}</td>
    <td class="text-center">
        <!--{{#if_equals RewardType 1}}
            -
        {{else}}-->
            {{formatDecimal Money}}
        <!--{{/if_equals}}-->
    </td>
    <td class="text-center">
        {{#if_equals RecStatus 1}}
            <span class="badge badge-success">Active</span>
        {{else}}
            <span class="badge badge-default">Inactive</span>
        {{/if_equals}}
    </td>
    <td class="text-center">
        <a name="edit" data-id="{{RewardId}}" type="button" class="btn btn-link">
            <span style="margin-left:15px;" class="glyphicon glyphicon-pencil"></span> แก้ไข
        </a>
        <a name="delete" data-id="{{RewardId}}" type="button" class="btn btn-link">
            <span style="margin-left:15px;" class="glyphicon glyphicon-trash"></span> ลบ
        </a>
    </td>
</tr>
{{/each}}
