
{{#each items}}
<tr>
    <td>{{Code}}</td>
    <td><a name="detail" data-id="{{RuleId}}" class="btn btn-link">{{Description}}</a></td>
    <td>
        {{#if_equals CalculationType 1}}
            เพิ่มคะแนน(แต้ม)
        {{/if_equals}}
        {{#if_equals CalculationType 2}}
            เพิ่มเท่า(เท่า)
        {{/if_equals}}
        {{#if_equals CalculationType 3}}
            เปลี่ยนฐานคะแนน(บาทต่อ 1 แต้ม)
        {{/if_equals}}
    </td>
    <td style="text-align:right">{{formatDecimal ReceivedPoint}}</td>
    <td class="text-center">
        {{#if_equals RecStatus 1}}
            <span class="tag tag-success">Active</span>
        {{else}}
            <span class="tag tag-default">Inactive</span>
        {{/if_equals}}
    </td>
    <td class="text-center">
        <a name="edit" data-id="{{RuleId}}" type="button" class="btn btn-link">
            <span style="margin-left:15px;" class="glyphicon glyphicon-pencil"></span> แก้ไข
        </a>
        <a name="delete" data-id="{{RuleId}}" type="button" class="btn btn-link">
            <span style="margin-left:15px;" class="glyphicon glyphicon-trash"></span> ลบ
        </a>
    </td>
</tr>
{{/each}}
