
{{#each items}}
<tr>
	<td {{MemberId}} class="text-center">{{MemberCode}}</td>
	<td class="text-left">{{MemberName}}</td>
	<td class="text-right">{{formatCurrency Point}}</td>
	<td class="text-center">{{ActionTypeValue}}</td>
	<td class="text-left">{{Remark}}</td>
	<td class="text-left">
		<span style="color:#FF0000;">{{Note}}</span>	
	</td>	
</tr>
{{/each}}
