﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="container" style="margin-top: 5%; margin-bottom: 10%;">
    <form class="">
        <h4 class="form-signin-heading" style="text-align: center; font-size: 20px;">ไม่มีสิทธิ์เข้าใช้งานกรุณาติดต่อ Admin เพื่อขอสิทธิ์เข้าใช้งานระบบ</h4>
    </form>
</div>

