﻿@model tvd.ViewModel.PointViewModel

@{
	Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
	<div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
		<a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
			<i class="fa  inline fa-angle-left" aria-hidden="true"></i>
		</a>
		<div class="sub-wrapper-mobile">
			@{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
		</div>
	</div>
</div>
<div id="main">
	<span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
		<i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
	</span>
	<div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
		<div class="menu-page-block">
			@{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }
		</div>

		<div class="tab-pane active">
			<div class="tab-content">
				<div class="row">
					<h2 class="tvd">@Model.SubPageTitle</h2>
				</div>

				<div class="row container">
					<div class="panel">

						<div class="panel-body">
							<h4 class="tvd">กำหนดค่าคะแนน</h4>
							<div class="container">
								@foreach (var type in Model.PointLevels)
								{
									<div class="row point-level" data-level-id="@type.PointLevelId" style="margin-bottom: 4px;">
										<div class="col-xs-2">ระดับ @type.LevelName</div>
										<div class="col-xs-2">จำนวนเงินครบ</div>
										<div class="col-xs-2">
											<input type="number" min="0" step="any" class="form-control" value="@type.PricePerPoint" />
										</div>
										<div class="col-xs-3">บาท รับ 1 คะแนน</div>
									</div>
								}
							</div>

							<h4 class="tvd">รอบอายุคะแนน</h4>
							<div class="container">
								<div class="row">
									<div class="col-xs-3">
										<label>คะแนนหมดอายุตามปีปฎิทิน</label>
									</div>
									<div class="col-xs-1">
										<div class="form-group">
											<div class='input-group date' id='datetimepicker'>
												<select id="expire-year" class="form-control">
													@if (Model.ExpireYear.HasValue)
													{
														for (int i = 0; i < 6; i++)
														{
															<option value="@i" @((i == Model.ExpireYear.Value) ? "selected=selected" : "")>@i</option>
														}
													}
													else
													{
														for (int i = 0; i < 6; i++)
														{
															<option value="@i" @((i == 2) ? "selected=selected" : "")>@i</option>
														}
													}
												</select>
											</div>
										</div>
									</div>
									<div class="col-xs-1">
										<label>ปี</label>
									</div>
								</div>
							</div>

							<h4 class="tvd">กำหนดราคาซื้อขั้นต่ำ</h4>
							<div class="container">
								<div class="row">
									<div class="col-xs-3">
										<label>ราคา</label>
									</div>
									<div class="col-xs-3">
										<div class="form-group">
											@if (Model.MinPurchase.HasValue)
											{
												<input type='text' class="form-control" id="min-purchase" value="@Model.MinPurchase.Value.ToString("0")" />
											}
											else
											{
												<input type='text' class="form-control" id="min-purchase" />
											}
										</div>
									</div>
								</div>
							</div>


							<div class="row" style="margin-top: 10px;">
								<button class="btn btn-primary" id="update-price-per-point-btn">อัพเดทจำนวนเงิน</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="row col-md-8">
						@Html.Hidden("requestVerificationToken", TokenHeaderValue)
					</div>


				</div>
			</div>


		</div>

		<div class="tab-pane active" id="tab1">
			<div class="tab-content">

			</div>
		</div>
	</div>
</div>


