﻿@model tvd.ViewModel.PointViewModel

@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
        </div>
    </div>
</div>
<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }
        </div>

        <div class="tab-pane active">
            <div class="tab-content">
                <div class="row">
                    <h2 class="tvd">@Model.SubPageTitle</h2>

                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-12">
                        <button class="btn btn-default pull-right" id="basicpoint-export">Export point list</button>
                    </div>


                    <div class="row col-md-8">
                        @Html.Hidden("requestVerificationToken", TokenHeaderValue)
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-xs-12">
                        <div class="jumbotron" @*style="background-color: #eceff1;"*@>
                            <div class="row">
                                <div class="col-sm-1"><label class="control-label">ค้นหา</label></div>
                                <div class="col-sm-4">
                                    <input class="form-control" id="product-search-text" value="" />
                                </div>
                                <div class="col-sm-2">
                                    <button id="product-search-button" class="btn btn-primary" type="button" style="width:120px;">
                                        <span class="glyphicon glyphicon-search"></span> ค้นหา
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Table start-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                <table class="table table-bordered" id="points-table">
                                    <thead>
                                        <tr>
                                            <th class="text-center">รหัสสินค้า</th>
                                            <th class="text-center">รหัสโปรโมชั่น</th>
                                            <th class="text-center">รายละเอียด</th>
                                            <th class="text-center">ราคา(บาท)</th>
                                            <th class="text-center">คะแนนระดับธรรมดา</th>
                                            <th class="text-center">คะแนนระดับ Silver</th>
                                            <th class="text-center">คะแนนระดับ Gold</th>
                                            <th class="text-center">คะแนนระดับ Platinum</th>
                                        </tr>
                                    </thead>
                                    <tbody id="points-result"></tbody>
                                </table>
                                <div class="col-lg-12">
                                    <nav id="points-pager">
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Table end-->
            </div>



        </div>

        <div class="tab-pane active" id="tab1">
            <div class="tab-content">

            </div>
        </div>
    </div>
</div>
