﻿@model tvd.ViewModel.PointViewModel

@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
        </div>
    </div>
</div>
<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }
        </div>

        <div class="tab-pane active">
            <div class="tab-content">
                <div class="row">
                    <h2 class="tvd">@Model.SubPageTitle</h2>

                    <div class="row col-md-8">
                        @Html.Hidden("requestVerificationToken", TokenHeaderValue)
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">

                        <div class="jumbotron">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="control-label">ค้นหา</label>
                                    <input class="form-control" id="promo-campaign-code-text" value="" placeholder="Code.." />
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-control" id="promo-campaign-status-dd">
                                        <option value="-1">ทั้งหมด</option>
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">ใส่กฎการคำนวณ</label>
                                    @if (Model.Rules != null && Model.Rules.Any())
                                    {
                                        @Html.DropDownList("promo-campaign-rule-dd",
                                            new SelectList(Model.Rules, "RuleId", "RuleCode"),
                                            "ทั้งหมด",
                                            new { @id = "promo-campaign-rule-dd", @class = "form-control" })
                                    }
                                </div>
                                <div class="col-sm-4" style="margin-top: 24px;">
                                    <button id="promo-campaign-button" class="btn btn-primary" type="button" style="width:120px;">
                                        <span class="glyphicon glyphicon-search"></span> ค้นหา
                                    </button>
                                    <button id="promo-campaign-create-button" class="btn btn-primary" type="button">
                                        เพิ่มแคมเปญ
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- Table start-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                <table class="table table-bordered" id="promo-campaign-table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="text-center">รหัสแคมเปญ</th>
                                            <th class="text-center">รายละเอียดแคมเปญ</th>
                                            <th class="text-center">สถานะ</th>
                                            <th class="text-center">วันที่สร้าง</th>
                                        </tr>
                                    </thead>
                                    <tbody id="promo-campaign-result"></tbody>
                                </table>
                                <div class="col-lg-12">
                                    <nav id="promo-campaign-pager">
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Table end-->
            </div>


        </div>

    </div>
</div>
