﻿@model tvd.ViewModel.PointViewModel

@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
    var gameInfo = Model.GamificationInfo;
}
<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
        </div>
    </div>
</div>
<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }
        </div>

        <div class="tab-pane active">
            <div class="tab-content">
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-xs-6">
                            <h2 class="tvd">คะแนน Gamification</h2>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    @Html.Hidden("game-id", gameInfo.GamificationPointId)
                                    <h4 class="tvd">Gamification : <label id="gamecode">@gameInfo.GamificationCode</label></h4>
                                    
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label class="control-label">รายละเอียด</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="form-group">
                                                <input type="text" id="game-detail" class="form-control" value="@gameInfo.Description"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label class="control-label">ประเภท</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <select id="game-apply" class="form-control">
                                                @foreach (var type in Model.ApplyTypes)
                                                {
                                                    <option name="game-point-apply" value="@((int)type)" @(type == gameInfo.ApplyTo ? "selected" : "")>@tvd.model.Helpers.EnumHelper.GetEnumDescription(type)</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label class="control-label">เพิ่มคะแนน</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                @*<label class="control-label" id="game-points">@gameInfo.IncreasePoint</label>*@
                                                <input type="number" min="0" id="game-points" class="form-control" value="@gameInfo.IncreasePoint"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label class="control-label">แต้ม</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label class="control-label">วันใช้งาน</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input type='text' class="form-control" id="valid-from" value="@gameInfo.ValidFrom.ToString("MM/dd/yyyy")"/>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <div class="form-group">
                                                <label class="control-label">ถึง</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker2'>
                                                    <input type='text' class="form-control" id="valid-to" value="@gameInfo.ValidTo.ToString("MM/dd/yyyy")"/>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label class="control-label">สถานะ</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <select class="form-control" id="game-status">
                                                <option name="status-dd" value="1" @((int)gameInfo.RecStatus == 1 ? "selected" : "")>Active</option>
                                                <option name="status-dd" value="0"  @((int)gameInfo.RecStatus == 0 ? "selected" : "")>Inactive</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            @Html.Hidden("requestVerificationToken", TokenHeaderValue)
                                            <button name="rule-create" id="game-update-btn" class="btn btn-primary">อัพเดทการคำนวนคะแนน</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div class="tab-pane active" id="tab1">
        <div class="tab-content">

        </div>
    </div>
</div>
