﻿@model tvd.ViewModel.PointViewModel

@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
        </div>
    </div>
</div>
<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }
        </div>

        <div class="tab-pane active">
            <div class="tab-content">
                    <div class="row">
                            <h2 class="tvd">คะแนนเลื่อนขั้น</h2>
                    </div>
                    
                    <div class="row container">
                        <div class="panel">
                            <h4 class="tvd">กำหนดคะแนนเลื่อนขั้น</h4>
                            <div class="panel-body">
                                @foreach (var type in Model.PointLevels)
                                {
                                    <div class="row point-level" data-level-id="@type.PointLevelId" style="margin-bottom: 2px;">
                                        <div class="col-xs-1"><b>ระดับ</b>
                                        </div>          
                                        <div class="col-xs-1">@type.LevelName</div>
                                        <div class="col-xs-2">ใช้คะแนน</div>
                                        <div class="col-xs-2"><input type="number" min="0" class="form-control" value="@type.RequiredPoint"/>
                                        </div>          
                                        <div class="col-xs-1">แต้ม</div>
                                    </div>
                                }
                                
                                <div class="row" style="margin-top: 10px;">
                                    <button class="btn btn-primary" id="update-require-point-btn">อัพเดทคะแนน</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row col-md-8">
                            @Html.Hidden("requestVerificationToken", TokenHeaderValue)
                        </div>
                        

                    </div>
            </div>


        </div>

        <div class="tab-pane active" id="tab1">
            <div class="tab-content">

            </div>
        </div>
    </div>
</div>


