﻿@model tvd.ViewModel.PointViewModel

@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
        </div>
    </div>
</div>
<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }
        </div>

        @if (Model.PromotionInfo != null)
        {

            <div class="tab-pane active" id="product-in-promo-element">
            <div class="tab-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="tvd">สินค้าใน Promotion: @Model.PromotionInfo.Code</h2>
                            <h4>รายละเอียด Promotion: @Model.PromotionInfo.PromotionName</h4>
                            @Html.Hidden("promoId", @Model.PromotionInfo.Id)
                            @Html.Hidden("promoCode", @Model.PromotionInfo.Code)
                            @Html.Hidden("requestVerificationToken", TokenHeaderValue)
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> กฎการคำนวณคะแนน <button id="rule-search-modal-button" data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-link">เพิ่มกฎ</button>
                                </div>
                                <div class="card-block">
                                    <table class="table table-bordered" id="rule-promo-table">
                                        <thead>
                                        <tr>
                                            <th class="text-center">ลำดับ</th>
                                            <th class="text-center">รหัส</th>
                                            <th class="text-center">รายละเอียด</th>
                                            <th class="text-center">ระดับ</th>
                                            <th class="text-center">วิธีการชำระ</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="rule-promo-result"></tbody>
                                    </table>
                                    <div class="col-lg-12">
                                        <nav id="rule-promo-pager">
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
          
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> สินค้าใน Promotion
                                </div>
                                <div class="card-block">
                                    <table class="table table-bordered" id="product-in-promo-table">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" class="text-center">รหัสสินค้า</th>
                                                <th rowspan="2" class="text-center">รายละเอียด</th>
                                                <th rowspan="2" class="text-center">ราคา(บาท)</th>
                                                <th class="text-center" colspan="4">คะแนนได้รับ (แต้ม)</th>
                                            </tr>
                                            <tr>
                                                <th style="text-align: center; " data-field="regular" tabindex="0"><div class="th-inner sortable both asc">Regular</div><div class="fht-cell"></div></th>
                                                <th style="text-align: center; " data-field="silver" tabindex="0"><div class="th-inner sortable both asc">Silver</div><div class="fht-cell"></div></th>
                                                <th style="text-align: center; " data-field="gold" tabindex="0"><div class="th-inner sortable both asc">Gold</div><div class="fht-cell"></div></th>
                                                <th style="text-align: center; " data-field="platinum" tabindex="0"><div class="th-inner sortable both asc">Platinum</div><div class="fht-cell"></div></th>
                                            </tr>
                                        </thead>
                                        <tbody id="product-in-promo-result"></tbody>
                                    </table>
                                    <div class="col-lg-12">
                                        <nav id="product-in-promo-pager">
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>


        </div>

        }
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">เพิ่มกฎการให้คะแนน</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>*@
            <div class="modal-body" style="height:600px;">
                 <div class="row">
                        <div class="col-sm-1"><label class="control-label">ค้นหา</label></div>
                        <div class="col-sm-3">
                            <input class="form-control" id="rule-code-text" value="" placeholder="" />
                        </div>
                        <div class="col-sm-1"><label class="control-label">สถานะ</label></div>
                        <div class="col-sm-3">
                            <select class="form-control" id="rule-status-dd">
                                <option value="-1">ทั้งหมด</option>
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button id="rule-search-button" class="btn btn-primary" type="button" style="width:120px;">
                                <span class="glyphicon glyphicon-search"></span> ค้นหา
                            </button>
                        </div>
                         <div class="col-sm-2">
                             <button id="rule-add-button" class="btn btn-primary" type="button" style="width:120px;">
                                 <span class="glyphicon glyphicon-plus"></span> เพิ่มกฎ
                             </button>
                         </div>
                    </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                <table class="table table-bordered" id="rule-add-table">
                                    <thead>
                                        <tr>
                                            <th class="text-center"><input type="checkbox" id="rule-selected-all"></th>
                                            <th class="text-center">รหัสกฎการคำนวณ</th>
                                            <th class="text-center">รายละเอียด</th>
                                            <th class="text-center">สถานะ</th>
                                        </tr>
                                    </thead>
                                    <tbody id="rule-add-result"></tbody>
                                </table>
                                <div class="col-lg-12">
                                    <nav id="rule-add-pager">
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div>
    </div>
</div>
