﻿@using tvd.model.Models.Enum
@model tvd.ViewModel.PointViewModel

@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
        </div>
    </div>
</div>

<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }
        </div>

        <div class="tab-pane active">
            <div class="tab-content">
                <div class="col-sm-7">
                    <div class="row">
                        <h2 class="tvd">แก้ไขคะแนนแลกของกำนัล</h2>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4 class="tvd-tone">แก้ไขของกำนัล</h4>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="control-label">รหัส</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="form-group">
                                                <input type="text" id="reward-code" class="form-control" value="@Model.RewardInfo.Code" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="control-label">รายละเอียด</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="form-group">
                                                <textarea id="reward-description" class="form-control" style="height:80px;">@Model.RewardInfo.Description</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="control-label">ใช้คะแนนเท่านั้น</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="form-group">
                                                <input type="number" min="0" id="reward-point-only" class="form-control" value="@Model.RewardInfo.PointOnly"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <div class="form-group">
                                                <label class="control-label">แต้ม</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <label>หรือ</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="control-label">ใช้คะแนน</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <input type="number" min="0" id="reward-point" class="form-control" value="@Model.RewardInfo.Point"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label class="control-label">แต้ม และเพิ่มเงิน</label>
                                            </div>
                                        </div>
                                        @*<div class="col-xs-1">
                                            <div class="form-group">
                                                <label class="control-label">และเพิ่มเงิน</label>
                                            </div>
                                        </div>*@
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <input type="number" min="0" id="reward-money" class="form-control" value="@Model.RewardInfo.Money.ToString("#.##")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <div class="form-group">
                                                <label class="control-label">บาท</label>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="control-label">ประเภทการใช้คะแนน</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="form-group">
                                                @Html.DropDownListFor(m => Model.RewardInfo.RewardType, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="ใช้คะแนนเท่านั้น (แต้ม)", Value = "1" },
                                                new SelectListItem{ Text="ใช้คะแนนและเพิ่มเงิน", Value = "2" }
                                             }, new { @class = "form-control", @id = "reward-type" })
                                            </div>
                                        </div>
                                    </div>*@
                                    @*<div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="control-label">ใช้คะแนนเท่านั้น</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="form-group">
                                                <input type="number" min="0" id="reward-point" class="form-control" value="@Model.RewardInfo.Point" />
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <div class="form-group">
                                                <label class="control-label">แต้ม</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="control-label">เพิ่มเงิน</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="form-group">
                                                @if (Model.RewardInfo.RewardType == tvd.model.Models.Enum.RewardType.PointWithMoney)
                                                {
                                                    <input type="number" min="0" id="reward-money" class="form-control" value="@Model.RewardInfo.Money" />
                                                }
                                                else
                                                {
                                                    <input type="number" min="0" id="reward-money" class="form-control" disabled />
                                                }
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <div class="form-group">
                                                <label class="control-label">บาท</label>
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="control-label">สถานะ</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <select class="form-control" id="reward-status">
                                                <option name="status-dd" value="1" @(Model.RewardInfo.RecStatus == RecStatus.ACTIVE ? "selected" : "")>Active</option>
                                                <option name="status-dd" value="0" @(Model.RewardInfo.RecStatus == RecStatus.INACTIVE ? "selected" : "")>Inactive</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <button id="reward-save" type="button" class="btn btn-primary">ยืนยันแก้ไขรายการ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @Html.Hidden("reward-id", Model.RewardInfo.RewardId)
    @Html.Hidden("requestVerificationToken", TokenHeaderValue)
</div>
