﻿@model tvd.ViewModel.PointViewModel

@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}
<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
        </div>
    </div>
</div>
<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }
        </div>

        <div class="tab-pane active">
            <div class="tab-content">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-6">
                            <h2 class="tvd">ตั้งกฎการคำนวณ</h2>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4 class="tvd-tone">เพิ่มกฏการคำนวณคะแนน</h4>
                                    <div class="row">
                                        <div class="col-xs-2"><div class="form-group">
                                            <label class="control-label">รหัส</label>
                                        </div></div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <input type="text" id="rule-code" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2"><div class="form-group">
                                            <label class="control-label">รายละเอียด</label>
                                        </div></div>
                                        <div class="col-xs-8">
                                            <div class="form-group">
                                                <textarea id="rule-detail" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2"><div class="form-group">
                                            <label class="control-label">ระดับสมาชิก</label>
                                        </div></div>
                                        <div class="col-xs-3">
                                            <select id="rule-point-level" class="form-control">
                                                <option value="0">ทุกระดับ</option>
                                                @foreach (var type in Model.PointLevels)
                                                {
                                                    <option name="rule-point-level" value="@((int)type.PointLevelId)">@type.LevelName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label class="control-label">วิธีการชำระเงิน</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <select id="rule-payment-type" class="form-control">
                                                <option value="0">ทุกช่องทาง</option>
                                                @foreach (var type in Model.PaymentTypes)
                                                {
                                                    <option name="rule-payment-type" value="@((int)type.Id)">@type.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label class="control-label pull-right">ประเภทบัตร</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <select id="rule-card-type" class="form-control">
                                                <option value="0">ทุกประเภทบัตร</option>
                                                @foreach (var type in Model.CardTypes)
                                                {
                                                    <option name="rule-card-type" value="@((int)type.Id)">@type.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-xs-1">
                                            <div class="form-group">
                                                <label class="control-label pull-right">ธนาคาร</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <select id="rule-bank-type" class="form-control">
                                                <option value="0">ทุกธนาคาร</option>
                                                @foreach (var type in Model.Banks)
                                                {
                                                    <option name="rule-bank-type" value="@((int)type.Id)">@type.Name</option>
                                                }
                                            </select>
                                        </div>

                                    </div>
                                    <div class="row" style="margin-top: 6px">
                                        <div class="col-xs-2"><div class="form-group">
                                            <label class="control-label">วิธีการคำนวณคะแนน</label>
                                        </div></div>
                                        <div class="col-xs-8">
                                            <div class="form-group">
                                                <label class="radio-inline"><input type="radio" name="rule-calculate-point" id="rule-is-add-point">เพิ่มคะแนน</label>
                                                <label class="radio-inline"><input type="radio" name="rule-calculate-point" id="rule-is-add-time">เพิ่มเท่า</label>
                                                <label class="radio-inline"><input type="radio" name="rule-calculate-point" id="rule-is-change-base">เปลี่ยนฐานคะแนน</label>                           
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2"><div class="form-group">
                                            <label class="control-label">จำนวน</label>
                                        </div></div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <input type="number" min="0" id="rule-point-count" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label class="control-label" id="rule-point-count-unit"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 6px">
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label class="control-label">ต่อ</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="form-group">
                                                @*<label class="radio-inline"><input type="radio" name="rule-per-item-order" id="rule-per-item">Item</label>*@
                                                <label class="radio-inline">
													<input type="radio" name="rule-per-item-order" id="rule-per-order" checked="checked" />
													Order
												</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2"><div class="form-group">
                                            <label class="control-label">วันใช้งาน</label>
                                        </div></div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <input type="text" id="rule-from-date" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <div class="form-group">
                                                <label class="control-label">ถึง</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <input type="text" id="rule-to-date" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label class="control-label">สถานะ</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <select class="form-control" id="rule-status">
                                                <option name="status-dd" value="1">Active</option>
                                                <option name="status-dd" value="0">Inactive</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <button id="rule-save-btn" class="btn btn-primary">เพิ่มกฏการคำนวณ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @Html.Hidden("requestVerificationToken", TokenHeaderValue)
</div>
