﻿@model tvd.ViewModel.PointViewModel

@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}
<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
        </div>
    </div>
</div>
<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }
        </div>

        <div class="tab-pane active">
            <div class="tab-content">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-xs-6">
                            <h2 class="tvd">ตั้งกฎการคำนวณ</h2>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <h4 class="control-label">รหัสกฎการคำนวณ : </h4>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <h4 class="control-label">@Model.PointRuleInfo.Code</h4>
                                            </div>
                                        </div>
                                        <div class="col-xs-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label">รายละเอียด : </label> @Model.PointRuleInfo.Description
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label">ระดับสมาชิก : </label>
                                                @if (Model.PointRuleInfo.PointLevelId == 0)
                                                {
                                                    <label>ทุกระดับ</label>
                                                }
                                                else
                                                {
                                                    <label>@Model.PointLevels.First(o => o.PointLevelId == Model.PointRuleInfo.PointLevelId).LevelName</label>   
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label">วิธีการคำนวณ : </label>
                                                @if (Model.PointRuleInfo.CalculationType == 1)
                                                {
                                                <label>เพิ่มคะแนน</label>
                                                }
                                                else if (Model.PointRuleInfo.CalculationType == 2)
                                                {
                                                <label>เพิ่มเท่า</label>
                                                }
                                                else if (Model.PointRuleInfo.CalculationType == 3)
                                                {
                                                <label>เปลี่ยนฐานคะแนน</label>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label">วันใช้งาน : </label>
                                                @if (Model.PointRuleInfo.ValidFrom.HasValue && Model.PointRuleInfo.ValidTo.HasValue)
                                                {
                                                <label>@Model.PointRuleInfo.ValidFrom.Value.ToString("MM/dd/yyyy") ~ @Model.PointRuleInfo.ValidTo.Value.ToString("MM/dd/yyyy")</label>
                                                }
                                                else
                                                {
                                                <label>-</label>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label">จำนวน : </label>
                                                <label>@Model.PointRuleInfo.ReceivedPoint.ToString("n0")</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label">สถานะ : </label>
                                                @if (Model.PointRuleInfo.RecStatus == tvd.model.Models.Enum.RecStatus.ACTIVE)
                                                {
                                                <label>Active</label>
                                                }
                                                else
                                                {
                                                <label>InActive</label>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label">คำนวณต่อ : </label>
                                                @if (Model.PointRuleInfo.IsPerItem)
                                                {
                                                    <label>Item</label>
                                                }
                                                else if(Model.PointRuleInfo.IsPerOrder)
                                                {
                                                    <label>Order</label>
                                                }
                                                </div>
                                            </div>
                                            <div class="col-xs-6">

                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label">วิธีการชำระเงิน : </label>
                                                @if (Model.PointRuleInfo.PaymentTypeId == 0)
                                                {
                                                    <label>ทุกทาง</label>
                                                }
                                                else
                                                {
                                                <label>@Model.PaymentTypes.First(o => o.Id == Model.PointRuleInfo.PaymentTypeId).Name</label>   
                                                }
                                            </div>
                                        </div>
                                        <div class="col-xs-6">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label">ประเภทบัตร : </label>
                                                @if (!Model.PointRuleInfo.CardTypeId.HasValue || Model.PointRuleInfo.CardTypeId == 0)
                                                {
                                                    <label>ทุกประเภทบัตร</label>
                                                }
                                                else
                                                {
                                                    <label>@Model.CardTypes.First(o => o.Id == Model.PointRuleInfo.CardTypeId).Name</label>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-xs-6">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label class="control-label">ธนาคาร : </label>
                                                @if (!Model.PointRuleInfo.BankId.HasValue || Model.PointRuleInfo.BankId == 0)
                                                {
                                                    <label>ทุกธนาคาร</label>
                                                }
                                                else
                                                {
                                                    <label>@Model.Banks.First(o => o.Id == Model.PointRuleInfo.BankId).Name</label>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-xs-6">

                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <ul role="tablist" class="nav nav-tabs" style="margin-left: 10px;">
                                            <!-- <li role="presentation" class="active"><a role="tab" data-toggle="tab" aria-controls="rule-promo" href="#rule-promo">โปรโมชันที่ใช้กฎข้อนี้</a></li> -->
                                            <li role="presentation" class="active"><a role="tab" data-toggle="tab" aria-controls="rule-campaign" href="#rule-campaign">Campaign ที่ใช้กฎข้อนี้</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <!-- <div role="tabpanel" class="tab-pane active" id="rule-promo">
                                                <table class="table table-bordered" id="rule-promo-used-table">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">รหัสโปรโมชัน</th>
                                                            <th class="text-center">รายละเอียดโปรโมชัน</th>
                                                            <th class="text-center">สถานะ</th>
                                                        </tr>
                                                    </thead>
                                                    @if (Model.PromotionUsedInRule != null && Model.PromotionUsedInRule.Any())
                                                    {
                                                        <tbody id="rule-promo-used-result">
                                                            @foreach (var item in Model.PromotionUsedInRule)
                                                            {
                                                                <tr>
                                                                    <td>@item.Code</td>
                                                                    <td>@item.PromotionName</td>
                                                                    <td style="text-align:center">
                                                                        @if (item.RecStatus == tvd.model.Models.Enum.RecStatus.ACTIVE)
                                                                        {
                                                                            <span class="tag tag-success">Active</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="tag tag-default">Inactive</span>
                                                                        }
                                                                    </td>
                                                                </tr>
                                                             }
                                                       </tbody>
                                                    }
                                                </table>
                                            </div> -->
                                            <div role="tabpanel" class="tab-pane active" id="rule-campaign">
                                                <table class="table table-bordered" id="rule-campaign-used-table">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">รหัส Campaign</th>
                                                            <th class="text-center">รายละเอียด Campaign</th>
                                                            <th class="text-center">สถานะ</th>
                                                        </tr>
                                                    </thead>
                                                    @if (Model.CampaignUsedInRule != null && Model.CampaignUsedInRule.Any())
                                                    {
                                                        <tbody id="rule-campaign-used-result">
                                                            @foreach (var item in Model.CampaignUsedInRule)
                                                            {
                                                                <tr>
                                                                    <td>@item.Code</td>
                                                                    <td>@item.PromotionName</td>
                                                                    <td style="text-align:center">
                                                                        @if (item.RecStatus == tvd.model.Models.Enum.RecStatus.ACTIVE)
                                                                        {
                                                                            <span class="tag tag-success">Active</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="tag tag-default">Inactive</span>
                                                                        }
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    }
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>

        @Html.Hidden("rule-id", Model.PointRuleInfo.RuleId)
        @Html.Hidden("requestVerificationToken", TokenHeaderValue)
</div>
