﻿@model tvd.ViewModel.PointViewModel

@{
	Layout = "~/Views/Shared/_FullLayout.cshtml";
}
<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
	<div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
		<a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
			<i class="fa  inline fa-angle-left" aria-hidden="true"></i>
		</a>
		<div class="sub-wrapper-mobile">
			@{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
		</div>
	</div>
</div>

<div id="main">
	<span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
		<i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
	</span>
	<div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
		<div class="menu-page-block">
			@{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }
		</div>
		<div class="tab-pane active">
			<div class="tab-content">
				<div class="row">
					<h2 class="tvd">@Model.SubPageTitle</h2>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="jumbotron">
							<form id="uploadFileForm" name="uploadFileForm" method="post">
								<div class="col-lg-3">
									<label for="uploadMemberPoint">เลือกไฟล์</label> <a href="~/upload_template/member_point_upload_template.xlsx">ดาวน์โหลด ตัวอย่าง</a>
								</div>
								<div class="col-lg-4">
									<input type="file" id="uploadMemberPoint" name="uploadMemberPoint" accept=".xls,.xlsx" />
								</div>
								<div class="col-lg-2">
									<input id="btn-upload" type="submit" class="btn btn-primary" value="อัพโหลดไฟล์" />
								</div>
								<div class="col-lg-2">
									<input id="btn-save" type="button" class="btn btn-default" value="บันทึก" />
								</div>
							</form>
						</div>
					</div>
				</div>
				<div id="table-result" class="row">
					<table class="table">
						<thead>
							<tr>
								<th width="20%" class="text-center">รหัสสมาชิก</th>
								<th width="20%" class="text-left">ชื่อนามสกุลสมาชิก</th>
								<th width="10%" class="text-right">คะแนน</th>
								<th width="10%" class="text-right">ประเภทคะแนน</th>
								<th width="20%" class="text-left">หมายเหตุ</th>
								<th width="20%" class="text-left">โน๊ต</th>
							</tr>
						</thead>
						<tbody id="result-list" data-rawdata=""></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
@Html.Hidden("requestVerificationToken", TokenHeaderValue)