body {
	margin: 0;
	/* font-size: 20px; */
	font-family: 'Source Sans Pro', helvetica, sans-serif;
	/* font-weight: 200; */
	color: #6e6e6e;
}

a {
	/* color: #515151;
	text-decoration: none; */
}

p {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0;
	font-weight: 200;
}

h2 {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	font-weight: 200;
}

h3 {
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 0;
	font-weight: 200;
}

ul {
	list-style-type: none;
	padding: 0;
}

main {
	padding-bottom: 10px;
}

footer {
	text-align: center;
	padding-top: 10px;
}

::selection {
	background-color: #e77878;
	color: white;
}

.cfix:after, .btn-list:after {
	display: block;
	content: '';
	clear: both;
}

.wrapper {
	width: 100%;
	box-sizing: border-box;
	border-top: 2px solid #6c6c6c;
	background-color: #fefefe;
}

.link-menu {
	font-size: 2.2rem;
}

	.link-menu:hover {
		color: #807d7d;
	}

.main-content {
	padding: 80px 40px 20px;
	text-align: center;
}

	.main-content > .main-content-header {
		padding-bottom: 80px;
	}

	.main-content > .main-content-body {
		padding-top: 30px;
		padding-bottom: 30px;
		border-top: 1px solid #d4d4d4;
		text-align: left;
	}

		.main-content > .main-content-body a {
			text-decoration: underline;
		}

		.main-content > .main-content-body > .main-content-body-inner {
			padding-top: 10px;
			padding-bottom: 20px;
		}

			.main-content > .main-content-body > .main-content-body-inner > h2 {
				padding-left: 10px;
				padding-right: 10px;
				border-left: 12px solid #51648b;
				background-color: #313b4e;
				color: #91a1b9;
				font-size: 1.6rem;
			}

				.main-content > .main-content-body > .main-content-body-inner > h2 + ul {
					padding-left: 14px;
					padding-right: 14px;
				}

					.main-content > .main-content-body > .main-content-body-inner > h2 + ul > li + li {
						padding-top: 20px;
					}

			.main-content > .main-content-body > .main-content-body-inner h3 {
				border-bottom: 1px solid #51648b;
			}

.headline {
	font-size: 4.0rem;
	font-weight: 400;
	color: #51648b;
}

.headline-main {
	color: #535353;
}

.version {
	padding-top: 0;
	font-size: 1.4rem;
}

.btn-list {
	display: inline-block;
	text-align: center;
}

	.btn-list > li {
		float: left;
	}

		.btn-list > li + li {
			padding-left: 10px;
		}

/* .btn {
  display: inline-block;
  text-align: center;
  padding: 6px 10px;
  background-color: #313b4e;
  color: #91a1b9;
  border-bottom: 4px solid #51648b;
  font-size: 1.2rem; }
  .btn:hover {
    background-color: #6c6c6c;
    color: #ececec;
    border-bottom: 4px solid #424242; }

.btn-submit {
    background-color: #0062b7;
    padding: 12px;
    color: #fff;
} */


.label-left {
	text-align: right;
	clear: both;
	float: left;
	margin-right: 50px;
}

.sidebar {
	background-color: #312f2f;
}

	.sidebar li + li {
		margin-top: 12px;
	}

	.sidebar li a {
		padding: 4px 10px;
		display: block;
		color: #cecece;
	}

		.sidebar li a:hover {
			background-color: #424242;
		}

	.sidebar li .current {
		background-color: #51648b;
	}


.hide {
	display: none;
}

h2.tvd {
	color: #0B4DA4;
}

h4.tvd-info {
	color: #000000;
	padding-top: 15px;
	font-size: 20px;
}

h4.title {
	color: #000000;
	text-align: center;
}

h4.detail {
	text-align: center;
	color: #000000;
}

label.short-desc {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-size: 12px;
}

.member-panel-info {
	background-color: #B1F3B2;
	padding-top: 20px;
	padding-bottom: 30px;
}

.member-icon {
	padding-top: 30px;
}

.tvd-tone {
	color: #0B4DA4;
}

.user-icon {
	background-color: #999999;
	border-radius: 50%;
	height: 70px;
	padding: 10px 0px 0px 15px;
	color: #FFFFFF;
	font-size: 40px;
	width: 70px;
}

.panel-body h3 {
	padding-top: 0px;
	padding-bottom: 20px;
}

	.panel-body h3 span {
		font-size: 18px;
	}

.member-tab-content {
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding: 20px 20px;
}

.no-border {
	border: none;
}
