/* Navigation */

.top-header ul {
    list-style: none;
}

    .top-header ul li {
        display: inline-block;
    }

.navbar-nav > li > a {
    font-size: 16px;
    color: #999999;
    text-decoration: none;
    font-family: 'Tahoma';
    padding-top: 20px;
    padding-bottom: 5px;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #0B4DA4;
}

.left_nav, .right_nav {
    display: inline-block;
}

.left_nav {
    float: left;
}

.right_nav {
    text-align: right;
}

.header {
    border-bottom: 1px solid #cccccc;
}

.navbar-toggle .icon-bar {
    background: #000;
}

.navbar-brand {
    padding: 0;
}

.notification {
    display: inline-block;
}

    .notification img {
        width: 25px;
    }

.icon-notification {
    min-height: 68px;
    height: 100%;
}

.text_rank {
    float: right;
    padding-right: 15px;
}

.logingroup {
    border-left: 1px solid #CCCCCC;
    cursor: pointer;
}

.Arrow_Down {
    width: 13px;
}

.dropdown-menu img {
    width: 25px;
}

.notification-mobile {
    display: none;
}


.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}

.navbar-right {
    float: right !important;
    margin-right: 0px;
}

.navbar-brand-logo {
    display: inline-block;
}

a.navbar-brand-logo img {
    margin-top: 8px;
    margin-bottom: 8px;
}

.nav > li {
    position: relative;
    display: flex;
}

.navbar {
    border-radius: 0px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: none;
}

.navbar-default {
    background-color: #ffffff;
    /*border-bottom: 1px solid #cccccc;*/
}

    .navbar-default .navbar-toggle {
        background-color: #0062b7;
        padding: 12px;
        color: #fff;
        border-radius: 0;
        border: none;
    }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #fff;
        }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
        color: #555;
        background-color: transparent;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #e7e7e7;
        margin-left: -15px;
        margin-right: -15px;
    }

.navbar-right .dropdown-menu {
    width: 100%;
    right: 1px;
}

.dropdown-menu.dropdown-notification {
    right: -1px;
    min-width: 300px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.collapse-info-mobile, .collapse-notification-mobile {
    display: none;
}
/*# bootstrap Reset #*/
a:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.no-pad {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.no-pad-right {
    padding-right: 0;
}

.no-pad-left {
    padding-left: 0;
}

.float-right {
    float: right;
}



.sidenav {
    display: block;
    width: 100%;
}

.openNav {
    display: none;
    margin-top: -1px;
}

.closebtn {
    display: none;
}

.side-left-menu-block-wrapper {
    width: 100%;
}

.sidenav {
    width: 100%;
    z-index: 1;
    top: 54px;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
}

    .sidenav a {
        padding: 0;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover, .offcanvas a:focus {
            color: transparent;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 27px;
        margin-left: 50px;
        display: none;
    }

#main {
    transition: margin-left .5s;
    padding: 0;
}
/*@media screen and (max-height: 1200px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
   
}*/


/*main*/

section.LeftMenu {
    margin-top: 40px;
}

.content-wrapper {
    overflow: hidden;
    min-height: 600px; /*background-color: #F9F9F9;*/
    border-left: 1px solid #D9D9D9;
}

/*.side-left-menu-block-wrapper{    overflow: hidden;  }*/
.side-left-menu .head-side-menu-wrapper {
    padding: 0 10px 0 0;
    background-color: #ffffff;
    overflow: hidden;
    border-bottom: 1px solid #D9D9D9; /*border-top: 1px solid #D9D9D9;*/
}
/*.side-left-menu .head-side-menu-wrapper:last-child{ border-bottom:none;}
.side-left-menu .head-side-menu-wrapper:first-child{border-top:none;}*/
.side-left-menu {
    font-family: 'thaisans_neuebold';
    font-size: 16px;
    position: relative;
}

.side-left-menu-block {
    padding: 0;
}

    .side-left-menu-block ul.sub-side-menu {
        display: none;
        background-color: #c7f1ff;
        margin-bottom: 0;
        list-style: none;
        padding-left: 0;
    }

    /* .side-left-menu-block:first-child ul.sub-side-menu{display: block;} */

    .side-left-menu-block .head-side-menu {
        color: #0C4CA4;
        font-weight: bold;
        font-size: 14px;
        padding: 15px 10px;
        margin: 0;
    }


    .side-left-menu-block ul.sub-side-menu li {
        margin: 0;
        padding: 0;
        background-color: #fff;
    }

        .side-left-menu-block ul.sub-side-menu li a {
            display: inline-block;
            width: 100%;
            text-decoration: none;
            padding: 13.5px 0 13.5px 15px;
            color: #0C4CA4;
            font-size: 14px;
        }

            .side-left-menu-block ul.sub-side-menu li a:hover {
                text-decoration: none;
            }
        /*.side-left-menu-block ul.sub-side-menu li a:before{content:'\2022';padding-right:8px;font-size: 20px;    line-height: 1;}*/
        .side-left-menu-block ul.sub-side-menu li:first-child a {
            border-top: 0;
        }

        .side-left-menu-block ul.sub-side-menu li:last-child a {
            border-bottom: 1px solid #D9D9D9;
        }

        .side-left-menu-block ul.sub-side-menu li.active {
            background-color: #F3F3F3;
            border-right: 5px solid #0B4DA4;
        }

        .side-left-menu-block ul.sub-side-menu li:hover {
            background-color: #F3F3F3;
        }

            .side-left-menu-block ul.sub-side-menu li:hover a {
                color: #0C4CA4;
            }

.right-side-content-header img {
    position: relative;
    top: -3px;
    margin-right: 5px;
}

.side-left-menu-block .head-side-menu {
    background: url(../images/icon_arrow-down.png);
    background-repeat: no-repeat;
    background-position: center right;
}

    .side-left-menu-block .head-side-menu.active {
        color: #0C4CA4;
        background: url(../images/icon_arrow-up.png);
        background-repeat: no-repeat;
        background-position: center right;
        display: block;
    }

.side-left-menu-block .head-side-menu-none {
    background: none;
    background-repeat: no-repeat;
    background-position: center right;
}

    .side-left-menu-block .head-side-menu-none.active {
        background: none; /*border-right: 5px solid #0B4DA4;*/
    }

.head-side-menu-wrapper.active {
    border-right: 5px solid #0B4DA4;
}

.tab-content {
    padding: 10px 15px;
}

.img-center {
    text-align: center;
}

.content-wrapper .img-content img {
    margin: auto;
    margin-bottom: 15px;
}

h4.right-side-content-header {
    color: #0062b7;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 30px;
}

/*.side-left-menu-block-wrapper{display:block!important}*/
.side-left-menu-block-wrapper {
    min-height: 656px;
}

.btn-side-left-menu {
    display: none;
    position: relative;
}

@media screen and (min-width: 991px) {
    .side-left-menu-block-wrapper {
        display: block !important;
        overflow: hidden;
        clear: both;
        ;
        border-top: none;
        border-bottom: none;
    }
}

@media screen and (max-width: 991px) {
    .side-left-menu-block-wrapper {
        display: none;
        clear: both;
        overflow: hidden;
    }

    .side-left-menu-block {
        overflow: hidden;
    }

    .btn-side-left-menu {
        display: block;
    }

    .openNav {
        display: block;
    }

    .closebtn {
        display: block;
    }

    .sidenav .closebtn {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 27px;
        margin-left: 0;
    }

    .sidenav {
        display: block;
        width: 0;
    }

    .sidenav {
        height: 100%;
        width: 0;
        z-index: 1;
        top: 0px;
        left: 0;
        background-color: transparent;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 0;
        position: absolute;
    }

    .sub-wrapper-mobile {
        margin-right: 40px;
        min-height: 655px;
        overflow: hidden;
        background-color: #fff;
    }
}

.btn-side-left-menu {
    background-color: #f9f9f9;
}

    .btn-side-left-menu i {
        background-color: #0062b7;
        padding: 12px 15px;
        color: #fff;
        height: 55px;
    }

p.head-side-menu-mobile {
    margin-bottom: 0;
    padding-left: 15px;
    color: #0C4CA4;
    display: inline-block;
}

.display-hide {
    display: none;
}
/*main*/


/***approve page*/
.approve-member td {
    height: 48.18px;
    vertical-align: middle !important;
}

/*****related-page****/

.menu-page-block {
    margin: 0 5px;
}

    .menu-page-block ul {
        margin: 0px;
        padding: 0px;
    }

        .menu-page-block ul li {
            list-style: none;
            display: inline-block;
            font-size: 13px;
        }

            .menu-page-block ul li a {
                /* color: black;  */
            }

            .menu-page-block ul li + li:before {
                background-image: url('../images/arrow_nav.png');
                background-size: 7px 11px;
                display: inline-block;
                width: 7px;
                height: 11px;
                content: "";
                margin-left: 2px;
                margin-right: 5px;
            }

            .menu-page-block ul li:last-child a {
                color: #0062b7;
            }


/*footer*/
.last-footer {
    background-color: #0C4CA4;
}

.last-footer-wrapper {
    padding: 15px;
}

.label-Copyright {
    color: #fff;
}
/*footer*/
















@media (min-width: 1200px) {
    .container {
        width: 1200px !important;
        max-width: 100% !important;
    }

    .header .navbar .container {
        /* width: 970px; */
        width: 1200px;
        max-width: 100% !important;
    }

    .side-left-menu {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
}

@media (max-width: 1094px) {
    .nav > li > a {
        position: relative;
        display: block;
        padding: 20px 10px 5px 10px;
    }
}

@media (max-width: 1024px) {


    .logingroup {
        padding: 15px 0 15px 10px;
        border-left: none;
    }

    .notification img {
        width: 20px;
        margin: 2px 5px;
    }

    .hidden-info {
        display: none;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
            border-bottom: 1px solid #D9D9D9;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
        margin-left: -15px;
        margin-right: -15px;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #0062b7;
        padding: 12px;
        color: #fff;
    }

    .navbar-default {
        background-color: #ffffff;
        /*border-bottom: 1px solid #cccccc;*/
    }

    .notification-mobile {
        float: right;
        min-width: 200px;
        max-width: 250px;
        padding: 15px 0;
        width: auto;
    }

        .notification-mobile .navbar-nav {
            margin-top: 0;
        }

    .notification-mobile {
        display: block;
    }

    .icon-header {
        float: left;
    }

    .infomobile-toggle {
        white-space: nowrap;
    }

    .notification-mobile .logingroup {
        padding: 0;
    }

    .mobile-notification {
        border-left: 1px solid #cccccc;
    }

    .side-left-menu-block ul.sub-side-menu li a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        padding: 13.5px 0 13.5px 10px;
        color: #0C4CA4;
        font-size: 13px;
    }

    .collapse-info-mobile, .collapse-notification-mobile {
        display: block;
    }

    .side-info-mobile, .side-notification-mobile {
        position: absolute;
        z-index: 999;
        background-color: rgb(255, 255, 255);
        display: none;
        width: 100%;
        border-top: 1px solid #D9D9D9;
        margin-left: -15px;
    }

    .block-infomobile-toggle {
        list-style: none;
        margin-top: 10px;
        display: inline-flex;
        padding-left: 10px;
    }

        .block-infomobile-toggle li {
            padding-right: 10px;
        }

        .block-infomobile-toggle .icon-profile img {
            width: 20px;
        }

        .block-infomobile-toggle .icon-logout img {
            width: 25px;
        }

    .block-notification-toggle {
        list-style: none;
        margin-top: 10px;
        display: block;
        padding-left: 10px;
    }

        .block-notification-toggle li {
            padding: 5px;
        }

        .block-notification-toggle .icon-noti img {
            width: 20px;
        }
}
/*max-width: 1024px*/
@media (min-width: 992px) {
    .header .navbar .container {
        /* width: 970px; */
        width: 1100px;
        max-width: 100% !important;
    }
}

@media (min-width: 768px) {
    /*.navbar-nav>li>a {
      padding-top:20px;
      padding-bottom: 5px;
      }*/

}

@media (max-width: 991px) {
    .logingroup {
        display: none;
    }

    .icon-header {
        float: left;
    }

    .notification-mobile {
        float: right;
        min-width: auto;
        padding: 15px 0;
        width: auto;
    }

    .mobile-notification {
        border-left: none;
    }

    .navbar-brand-logo img {
        width: 180px;
    }

    .mobile-notification {
        border-left: 1px solid #cccccc;
    }
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #FFFFFF;
    z-index: 100;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}

.fr-box {
    position: relative;
    z-index: 0;
}

a.tvd {
    color: #0B4DA4;
}

a.tooltips {
    cursor: pointer;
}

.fa-stack[data-count]:after {
    position: absolute;
    right: -12%;
    top: 70%;
    content: attr(data-count);
    font-size: 50%;
    padding: .6em;
    border-radius: 999px;
    line-height: .75em;
    color: white;
    background: rgba(255,0,0,.85);
    text-align: center;
    min-width: 2em;
    font-weight: bold;
}

.center-things {
    height: 100%;
    top: 50%;
    position: relative;
}

    .center-things p {
        margin: 0;
        background: none;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
