
{{#each items}}
<tr>
    <td><a href="permission/edit?id={{RoleId}}">{{RoleName}}</a></td>
    <td>
        <a name="edit" data-id="{{RoleId}}" type="button" class="btn btn-link">แก้ไข</a>
        <a name="delete" type="button" data-id="{{RoleId}}" class="btn btn-link">ลบ</a>
    </td>
</tr>
{{/each}}
