
{{#each items}}
<tr>
    <td><a href="{{../url}}{{EmployeeCode}}">{{EmployeeCode}}</a></td>
    <td>{{FullName}}</td>
    <td>{{EmployeeInRole.Role.RoleName}}</td>
    <td>
        <a name="edit" data-id="{{EmployeeCode}}" type="button" class="btn btn-link">
            <span style="margin-left:15px;" class="glyphicon glyphicon-pencil"></span> แก้ไข
        </a>
        <a name="delete" data-id="{{EmployeeCode}}" type="button" class="btn btn-link">
            <span style="margin-left:15px;" class="glyphicon glyphicon-trash"></span> ลบ
    </td>
</tr>
{{/each}}
