﻿@using tvd.Models;
@using System.Collections.Generic;

@model tvd.ViewModel.BasePageViewModel
@{
	List<SidebarItem> headers = Model.Sidebar?.Where(c => c.IsHeader).ToList() ?? new List<SidebarItem>();
	var hasSubMenu = Model.Sidebar?.Where(c => c.IsHeader == false).Any() ?? false;
}

@if (hasSubMenu)
{
	foreach (var c in headers)
	{
		<div class="side-left-menu-block">
			<div class="head-side-menu-wrapper">
				<p class="head-side-menu @(c.IsActive ? "active" : "")">
					<span style="width: 35px; font-size: 20px;" class="@c.Icon">
						@if (!string.IsNullOrEmpty(c.IconImageUrl))
						{
							<img src="@c.IconImageUrl">
						}
					</span>
					<span>@c.Name</span>
				</p>
			</div>
			<div class="sub-side-menu-wrapper tabbable">
				<ul class="sub-side-menu" style="display:block">
					@foreach (var a in Model.Sidebar.Where(b => b.ReferMenuId == c.MenuId).ToList())
					{
						<li class="@(a.IsActive ? "active" : "")"><a href="@a.Url" data-toggle="tab">@a.Name</a></li>
					}
				</ul>
			</div>
		</div>
	}
}
else
{
	<div class="side-left-menu-block">
		<div class="sub-side-menu-wrapper tabbable">
			<ul class="sub-side-menu" style="display:block">
				@foreach (var a in headers)
				{
					<li class="@(a.IsActive ? "active" : "")"><a href="@a.Url" data-toggle="tab">@a.Name</a></li>
				}
			</ul>
		</div>
	</div>

}