﻿@model tvd.ViewModel.BasePageViewModel
<header>
	<div class="container-fulid">
		<div class="header">
			<div class="container-fluid">
				<nav class="navbar navbar-default ">
					<div class="">
						<div class="row">
							<div class="col-xs-12">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand-logo" href="#"><img class="img-responsive" src="~/src/images/Logo.png"></a>

									@if (IsAuthenticated && !IsLoginPage)
									{
										<div class="notification notification-mobile mobile-toggle">
										    <div class="icon-header notification-toggle">
										        @if (Model.NotificationGroup != null && Model.NotificationGroup.AllPendings > 0)
										        {
										            <a class="dropdown-toggle notification icon-notification" data-toggle="dropdown" href="#">
										                <div class="center-things">
										                    <span class="fa-stack fa-1x has-badge" data-count="@Model.NotificationGroup.AllPendings">
										                        <i class="fa fa-circle fa-stack-2x"></i>
										                        <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
										                    </span>
										                </div>
										            </a>
										            <ul class="dropdown-menu dropdown-notification">
										                @foreach (var item in @Model.NotificationGroup.Items)
										                {
										                    <li>
										                        <a href="@item.Url">
										                            <span class="icon-profile"><img src="~/src/images/info.png"></span>
										                            <span>@item.Text</span>
										                        </a>
										                    </li>
										                }
										            </ul>
										        }
										        else
										        {
										            <a class="dropdown-toggle notification icon-notification" data-toggle="dropdown" href="#">
										                <div class="center-things">
										                    <span class="fa-stack fa-1x">
										                        <i class="fa fa-circle fa-stack-2x"></i>
										                        <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
										                    </span>
										                </div>
										            </a>
										        }
										    </div>
											<div class="infomobile-toggle icon-header">
												<div class="icon-header mobile-notification">
													<img src="~/src/images/user.png">
												</div>
												<div class="fl logingroup mobile-info">
													<span class="text_infoname">
														@($"{UserInfo.EmployeeCode}-{UserInfo.FirstName} {UserInfo.LastName}")
													</span>
												</div>
											</div>
										</div>
									}

								</div>
								@if (IsAuthenticated && !IsLoginPage)
								{
									<div class="border-fulid"></div>
									<div class="">
										<div class="collapse-info-mobile">
											<div class="side-info-mobile">
												<ul class="block-infomobile-toggle">
													<li>
														<a href="/setting/employee/detail?id=@UserInfo.EmployeeCode">
															<span class="icon-profile"><img src="~/src/images/user2.png"></span>
															<span>ดูโปรไฟล์</span>
														</a>
													</li>
													<li>
														<a href="/Login/Index">
															<span class="icon-logout"><img src="~/src/images/Logout.png"></span>
															<span>ลงชื่อออก</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="">
										<div class="collapse-notification-mobile">
											<div class="side-notification-mobile">
												<ul class="block-notification-toggle">
													<li>
														<a href="/approval/newmember">
															<span class="icon-noti"><img src="~/src/images/info.png"></span>
															<span>สมาชิกได้รับการอนุมัติ</span>
														</a>
													</li>
													<li>
														<a href="/approval/updatemember">
															<span class="icon-noti"><img src="~/src/images/info.png"></span>
															<span>การเปลี่ยนแปลงข้อมูล...ได้รับการอนุมัติ</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="collapse navbar-collapse" id="myNavbar">
										<ul class="nav navbar-nav navbar-left">
											<li><a href="@Model.MemberPageUrl">ทะเบียนสมาชิก</a></li>
											<li><a href="@Model.ApprovalPageUrl">การอนุมัติ</a></li>
											<li><a href="@Model.NewsPageUrl">ข่าวสาร</a></li>
											<li><a href="@Model.RewardPageUrl">กำหนดคะแนน</a></li>
											<li><a href="@Model.ReportPageUrl">รายงาน</a></li>
											<li><a href="@Model.SettingsEmployeePageUrl">ตั้งค่าผู้ใช้งาน</a></li>
										</ul>
										<ul class="nav navbar-nav navbar-right hidden-info">
										    <li class="dropdown">
										        @if (Model.NotificationGroup != null && Model.NotificationGroup.AllPendings > 0)
										        {
										            <a class="dropdown-toggle notification icon-notification" data-toggle="dropdown" href="#">
										                <div class="center-things">
										                    <span class="fa-stack fa-1x has-badge" data-count="@Model.NotificationGroup.AllPendings">
										                        <i class="fa fa-circle fa-stack-2x"></i>
										                        <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
										                    </span>
										                </div>
										            </a>
										            <ul class="dropdown-menu dropdown-notification">
										                @foreach (var item in @Model.NotificationGroup.Items)
										                {
										                    <li>
										                        <a href="@item.Url">
										                            <span class="icon-profile"><img src="~/src/images/info.png"></span>
										                            <span>@item.Text</span>
										                        </a>
										                    </li>
										                }
										            </ul>
										        }
										        else
										        {
										            <a class="dropdown-toggle notification icon-notification" data-toggle="dropdown" href="#">
										                <div class="center-things">
										                    <span class="fa-stack fa-1x">
										                        <i class="fa fa-circle fa-stack-2x"></i>
										                        <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
										                    </span>
										                </div>
										            </a>
										        }
										    </li>
											@if (IsAuthenticated && !IsLoginPage)
											{
												<li class="dropdown logingroup">
													<a class="dropdown-toggle" data-toggle="dropdown" href="#">
														<span class="notification"><img src="~/src/images/user.png"></span>
														<span class="text_infoname">
															@($"{UserInfo.EmployeeCode} - {UserInfo.FirstName} {UserInfo.LastName}")
														</span>
														<span><img class="Arrow_Down" src="~/src/images/Arrow_Down.png"></span>
														<br>
														<span class="text_rank">@UserInfo.EmailAddress</span>
													</a>
													<ul class="dropdown-menu">
														<li>
															<a href="/setting/employee/detail?id=@UserInfo.EmployeeCode">
																<span class="icon-profile"><img src="~/src/images/user2.png"></span>
																<span>ดูโปรไฟล์</span>
															</a>
														</li>
														<li>
															<a href="/Login/Logout">
																<span class="icon-logout"><img src="~/src/images/Logout.png"></span>
																<span>ลงชื่อออก</span>
															</a>
														</li>
													</ul>
												</li>
											}
										</ul>
									</div>
								}
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>
