﻿@model tvd.ViewModel.SearchViewModel
@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-md-12" style="margin-top: 5%;">
			<h4>ค้นหาสมาชิกโดย ชื่อ-สกุล / ชื่อนิติบุคคล</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<input id="search-text" type="text" class="form-control" />
			<div id="auto-complete-panel" class="search"></div>
		</div>
		<div class="col-sm-4">
			<button id="search-button" class="btn btn-primary" type="button" style="width:150px;">
				<span class="glyphicon glyphicon-search" style="margin-right: 10px;"></span> ค้นหา
			</button>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-md-12" style="margin-top: 5%;">
			<button type="button" class="btn btn-link">ค้นหาพิเศษ</h2>
		</div>
	</div> -->
	<div class="row" style="margin-top: 25px;">
		<div class="form-group">
			<label class="control-label col-sm-2">หมายเลขบัตรประชาชน</label>
			<div class="col-sm-3">
				<input id="search-id-card" type="text" class="form-control" />
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 25px;">
		<div class="form-group">
			<label class="control-label col-sm-2">หมายเลขโทรศัพท์</label>
			<div class="col-sm-3">
				<input id="search-phone" type="text" class="form-control" />
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 10px;">
		<div class="form-group">
			<label class="control-label col-sm-2">หมายเลขสมาชิก</label>
			<div class="col-sm-3">
				<input id="search-member" type="text" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5 text-center" style="margin-top: 20px;">
			<p class="">หรือ</p>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="col-sm-5 text-center" style="margin-top: 20px; margin-left: 50px;">
				<a href='/register/index' id="search-button" class="btn btn-default" type="button">
					<span class="glyphicon glyphicon-plus-sign"></span> ลงทะเบียนสมาชิกใหม่
				</a>
			</div>
		</div>
	</div>
</div>




