
{{#each items}}
<tr>
    <td>{{inc @index}}</td>
    <td><input data-id="{{NewsId}}" type="checkbox" /></td>
    <td>{{formatDate StartDate 'MMM, DD YYYY'}}</td>
    <td>{{formatDate EndDate 'MMM, DD YYYY'}}</td>
    <td>
        {{#if_equals Status 0}}
            แบบร่าง
        {{else}}
            เผยแพร่
        {{/if_equals}}
    </td>
    <td><a href="/news/view?id={{NewsId}}">{{Title}}</a></td>
    <td>
        {{#if_not_null RecModifiedWhen}}
            {{formatDate RecModifiedWhen 'lll'}}
        {{else}}
            {{formatDate RecCreatedWhen 'lll'}}
        {{/if_not_null}}
    </td>
    <td class="text-center">
        <a name="edit" data-id="{{NewsId}}" type="button" class="btn btn-link">
            <span style="margin-left:15px;" class="glyphicon glyphicon-pencil"></span> แก้ไข
        </a>
        <a name="delete" data-id="{{NewsId}}" type="button" class="btn btn-link">
            <span style="margin-left:15px;" class="glyphicon glyphicon-trash"></span> ลบ
        </a>
    </td>
</tr>
{{/each}}
