﻿@using tvd.Models;
@using System.Collections.Generic;

<ul>
    @foreach (var c in Model)
    {
        if (c.HasUrl)
        {
            <li><a href="@c.Url">@c.Name</a></li>
        }
        else
        {
            <li><label>@c.Name</label></li>
        }
    }
</ul>
