﻿@model tvd.ViewModel.MemberViewModel

@{
	Layout = "~/Views/Shared/_FullLayout.cshtml";
	string id = Model.MemberId == 0 ? Model.ReferenceId : Model.MemberId.ToString();
	int source = (int)Model.Source;
}

@{Html.RenderPartial($"~/Views/MemberDetail/MemberSubMenu.cshtml");}


<div id="main">
	<span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
		<i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
	</span>
	<div class="col-lg-10 col-md-10 col-sm-10 content-wrapper tab-content LeftMenu">
		<div class="menu-page-block">
			<ul>
				<li><label><a href="/Search/Index">หน้าหลัก</a></label></li>
				<li><label><a href="/SearchResult/Index">ทะเบียนสมาชิก</a></label></li>
				<li><label>สมาชิก @(string.IsNullOrEmpty(Model.MemberCode) ? Model.ReferenceId : Model.MemberCode)</label></li>
			</ul>
		</div>
		<div class="tab-pane active">
			<div class="tab-content">
				<div class="row">
					<div class="col-lg-12">
						<div class="jumbotron member-panel-info">
							<div class="row">
								<div class="col-sm-1 member-icon">
									<div class="row">
										<div class="user-icon">
											<span class="glyphicon glyphicon-user"></span>
										</div>
									</div>
								</div>
								<div class="col-sm-5 member-icon">
									<div class="row">
										<div class="col-sm-12">
											<h4 class="tvd-info">
												<input id="member-id" type="hidden" value="@Model.MemberId" data-source="@((int)Model.Source)" />
												@(string.IsNullOrEmpty(Model.MemberCode) ? Model.ReferenceId : Model.MemberCode) - @Model.TitleName @(Model.IsLegalPerson ? $"{Model.FirstName} {Model.LastName}" : $"{Model.CorporateName}")
											</h4>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-4"><h4 class="title">คะแนนสะสม</h4></div>
										<div class="col-sm-4"><h4 class="title">ระดับสมาชิก</h4></div>
										<div class="col-sm-4"><h4 class="title">คะแนนใกล้ครบอายุ</h4></div>
									</div>
									<div class="row">
										<div class="col-sm-4"><h4 class="detail">@Model.MemberPointDetail.CurrentPoint</h4></div>
										<div class="col-sm-4"><h4 class="detail">@Model.MemberPointDetail.LevelName</h4></div>
										<div class="col-sm-4"><h4 class="detail">@Model.MemberPointDetail.NearlyExpirePoint</h4></div>
									</div>
									<div class="row">
										<div class="col-sm-4 text-center">
											<button type="button" class="btn btn-primary" id="btn-reward-redemption" disabled="disabled">แลกของกำนัล</button>
										</div>
										<div class="col-sm-4 text-center"></div>
										<div class="col-sm-4 text-center"></div>
									</div>
								</div>
							</div>
						</div>

					</div>
					@Html.Hidden("requestVerificationToken", TokenHeaderValue)
				</div>

			</div>
		</div>
		@{Html.RenderPartial($"~/Views/MemberDetail/View/ItemWaitingForApproveDetail.cshtml");}
	</div>
</div>