﻿@model tvd.ViewModel.MemberViewModel

@{
	bool isMembership = Model.MemberId > 0;
	string id = Model.MemberId == 0 ? Model.ReferenceId : Model.MemberId.ToString();
	int source = (int)Model.Source;


}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
	<div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
		<a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
			<i class="fa  inline fa-angle-left" aria-hidden="true"></i>
		</a>
		<div class="sub-wrapper-mobile">
			<div class="side-left-menu-block">
				<div class="sub-side-menu-wrapper tabbable">
					<ul class="sub-side-menu" style="display:block">
						@if (Model.PageTypeId == tvd.Models.PageTypeId.MemberPage)
						{
							<text>
								<li class="active"><a href="javascript:void(0);" data-toggle="tab">ข้อมูลสมาชิก</a></li>
							</text>
						}
						else
						{
							<text>
								<li><a href="/MemberDetail/Index?personId=@id&source=@source" data-toggle="tab">ข้อมูลสมาชิก</a></li>
							</text>
						}

						@if (isMembership)
						{
							if (Model.PageTypeId == tvd.Models.PageTypeId.MemberPointAdjustmentPage)
							{
								<text>
									<li class="active"><a href="javascript:void(0);" data-toggle="tab">ปรับปรุงคะแนน</a></li>
								</text>
							}
							else
							{
								<text>
									<li><a href="/MemberDetail/PointAdjustment?personId=@id&source=@source" data-toggle="tab">ปรับปรุงคะแนน</a></li>
								</text>
							}

							if (Model.PageTypeId == tvd.Models.PageTypeId.MemberChangePasswordPage)
							{
								<text>
									<li class="active"><a href="javascript:void(0);" data-toggle="tab">ความปลอดภัย</a></li>
								</text>
							}
							else
							{
								<text>
									<li><a href="/MemberDetail/ChangePassword?personId=@id&source=@source" data-toggle="tab">ความปลอดภัย</a></li>
								</text>
							}

							if (Model.PageTypeId == tvd.Models.PageTypeId.MemberHistoryInformationPage)
							{
								<text>
									<li class="active"><a href="javascript:void(0);" data-toggle="tab">ประวัติข้อมูลสมาชิก</a></li>
								</text>
							}
							else
							{
								<text>
									<li><a href="/MemberDetail/MemberHistoryInformation?personId=@id&source=@source" data-toggle="tab">ประวัติข้อมูลสมาชิก</a></li>
								</text>
							}

							if (Model.PageTypeId == tvd.Models.PageTypeId.MemberHistoryPointAdjustmentPage)
							{
								<text>
									<li class="active"><a href="javascript:void(0);" data-toggle="tab">ประวัติการเปลี่ยนคะแนน</a></li>
								</text>
							}
							else
							{
								<text>
									<li><a href="/MemberDetail/PointAdjustmentHistoryInformation?personId=@id&source=@source" data-toggle="tab">ประวัติการเปลี่ยนคะแนน</a></li>
								</text>
							}

							if (Model.PageTypeId == tvd.Models.PageTypeId.MemberApproveReportPage)
							{
								<text>
									<li class="active"><a href="javascript:void(0);" data-toggle="tab">รายการรออนุมัติ</a></li>
								</text>
							}
							else
							{
								<text>
									<li><a href="/MemberDetail/ItemWaitingForApprove?personId=@id&source=@source" data-toggle="tab">รายการรออนุมัติ</a></li>
								</text>
							}
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>