﻿
{{#if_gt EndPage 1}}
<ul id="paging" class="pagination pull-right">
    {{#if_gt CurrentPage 1}}
        <li>
            <a data-pn="{{dec CurrentPage dec=1}}" href="#" aria-label="Previous">&laquo;</a>
        </li>
    {{/if_gt}}

    {{#for_eq StartPage EndPage 1}}
        {{#if_equals ../CurrentPage this}}
                <li class="active">
                    <a data-pn="{{this}}" href="#">{{this}}</a>
                </li>
        {{else}}
                <li>
                    <a data-pn="{{this}}" href="#">{{this}}</a>
                </li>
        {{/if_equals}}
    {{/for_eq}}

    {{#if_lt CurrentPage TotalPages}}
    <li>
        <a data-pn="{{inc CurrentPage inc=1}}" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    </li>
    {{/if_lt}}
</ul>
{{/if_gt}}