.tag {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  line-height: 1;
  color: #fff;
  text-align: center;
  vertical-align: baseline;
}

.tag-success {
  background-color: #4dbd74;
}

.tag-default {
  background-color: #B0bec5;
}
