﻿@model tvd.ViewModel.ApprovalViewModel
@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
        </div>
    </div>
</div>

<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }
        </div>
        <div class="tab-pane active">
            <div class="tab-content">
                <div class="row">
                    <h2 class="tvd">@Model.SubPageTitle</h2>
                    <div class="form-group">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4 class="tvd">การอนุมัติเกี่ยวกับสมาชิก</h4>
                                            <label class="control-label">ตั้งการอนุมัติโดยอัตโนมัติ</label>
                                            @Html.Hidden("approve-setting-id", Model.ApproveSetting.ApproveSettingId)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBox("newmember-checkbox", Model.ApproveSetting.IsAutoApproveNewMembership, new { id = "newmember-checkbox" })
                                                    สมาชิกใหม่
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBox("updatemember-checkbox", Model.ApproveSetting.IsAutoApproveChangeMembershipInfo, new { id = "updatemember-checkbox" })
                                                    การเปลี่ยนข้อมูลสมาชิก
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBox("cancelmember-checkbox", Model.ApproveSetting.IsAutoApproveCancelMembership, new { id = "cancelmember-checkbox" })                                               
                                                    การยกเลิกสมาชิก
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-3">
                                            <div class="form-group">
                                                <label class="control-label" for="delete-in-period-member">การลบคำขอที่ได้รับอัตโนมัติ</label>
                                                <select id="delete-in-period-member" class="form-control">
                                                    <option name="delete-in-period" value="-1" @(Model.ApproveSetting.MembershipRetensionPeriod == 999   ? "selected" : "")>เก็บทั้งหมด</option>
                                                    <option name="delete-in-period" value="30" @(Model.ApproveSetting.MembershipRetensionPeriod == 30   ? "selected" : "")>ลบภายใน 1 เดือน</option>
                                                    <option name="delete-in-period" value="15" @(Model.ApproveSetting.MembershipRetensionPeriod == 15   ? "selected" : "")>ลบภายใน 15 วัน</option>
                                                    <option name="delete-in-period" value="7" @(Model.ApproveSetting.MembershipRetensionPeriod == 7   ? "selected" : "")>ลบภายใน 7 วัน</option>
                                                    <option name="delete-in-period" value="1" @(Model.ApproveSetting.MembershipRetensionPeriod == 1   ? "selected" : "")>ลบภายใน 1 วัน</option>
                                                    <option name="delete-in-period" value="0" @(Model.ApproveSetting.MembershipRetensionPeriod == 0   ? "selected" : "")>ลบทันที</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                        
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4 class="tvd">การอนุมัติเกี่ยวกับคะแนน</h4>
                                            <label class="control-label">ตั้งการอนุมัติโดยอัตโนมัติ</label>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBox("changepoint-checkbox", Model.ApproveSetting.IsAutoApproveChangeMembershipPoint, new { id = "changepoint-checkbox" })
                                                    การเปลี่ยนคะแนน
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBox("redeempoint-checkbox", Model.ApproveSetting.IsAutoApproveRewardRedeemMembership, new { id = "redeempoint-checkbox" })
                                                    การแลกคะแนนสินค้า
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>                                                    
                                                @Html.CheckBox("pointlevel-checkbox", Model.ApproveSetting.IsAutoApproveLevelUpMembership, new { id = "pointlevel-checkbox" })
                                                การใช้คะแนนเลื่อนระดับ</label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-3">
                                            <div class="form-group">
                                                <label class="control-label" for="delete-in-period-point">การลบคำขอที่ได้รับอัตโนมัติ</label>
                                                <select id="delete-in-period-point" class="form-control">
                                                    <option name="delete-in-period" value="-1" @(Model.ApproveSetting.PointRetensionPeriod == 999 ? "selected" : "")>เก็บทั้งหมด</option>
                                                    <option name="delete-in-period" value="30" @(Model.ApproveSetting.PointRetensionPeriod == 30 ? "selected" : "")>ลบภายใน 1 เดือน</option>
                                                    <option name="delete-in-period" value="15" @(Model.ApproveSetting.PointRetensionPeriod == 15 ? "selected" : "")>ลบภายใน 15 วัน</option>
                                                    <option name="delete-in-period" value="7" @(Model.ApproveSetting.PointRetensionPeriod == 7 ? "selected" : "")>ลบภายใน 7 วัน</option>
                                                    <option name="delete-in-period" value="1" @(Model.ApproveSetting.PointRetensionPeriod == 1 ? "selected" : "")>ลบภายใน 1 วัน</option>
                                                    <option name="delete-in-period" value="0" @(Model.ApproveSetting.PointRetensionPeriod == 0 ? "selected" : "")>ลบทันที</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                        
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button id="update-button" type="button" class="btn btn-lg btn-primary">บันทึกการเปลี่ยนแปลง</button>
                    </div>
                    @Html.Hidden("requestVerificationToken", TokenHeaderValue)
                </div>
            </div>
        </div>
    </div>
</div>