﻿@using tvd.model.Models.CommonDTO.Enum
@model tvd.ViewModel.ApprovalViewModel
@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
        </div>
    </div>
</div>


<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }
        </div>
        <div class="tab-pane active">
            <div class="tab-content">
                <div class="row">
                    <h2 class="tvd">@Model.SubPageTitle</h2>
                    <div class="form-group">


                        <div class="col-md-12">
                            <div class="row" style="margin-top: 15px">
                                <div class="col-xs-4">
                                    <span class="glyphicon glyphicon-ok" style="color: #21bf21"></span>
                                    <a id="approve-all">อนุมัติที่เลือกไว้ <span class="approve-num">(0)</span></a>
                                    <span style="margin-left:15px; color:#d80b0b" class="glyphicon glyphicon-ban-circle"></span>
                                    <a id="reject-all">ระงับที่เลือกไว้ <span class="approve-num">(0)</span></a>
                                    <span style="margin-left:15px;" class="glyphicon glyphicon-remove"></span>
                                    <a id="clear-all">เคลียร์ที่ตัดสินแล้ว</a>
                                </div>
                                <div class="col-xs-6">

                                </div>
                                <div class="col-xs-2">
                                    <select class="form-control" id="filter-dd">
                                        <option name="filter-dd" value="">ทุกสถานะ</option>
                                        <option name="filter-dd" value="0" selected>รออนุมัติ</option>
                                        <option name="filter-dd" value="1">อนุมัติแล้ว</option>
                                        <option name="filter-dd" value="-1">ระงับแล้ว</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.Hidden("requestVerificationToken", TokenHeaderValue)
                    @Html.Hidden("appove-type-id", (int)ApproveType.UPDATE_REWARD_POINT)
                </div>
                <!-- Table start -->
                <div class="row">
                    <div class="col-sm-12 card-block">
                        <table class="table approve-member">
                            <thead>
                                <tr>
                                    <th><input id="selected-all" type="checkbox" /></th>
                                    <th>วันเดือนปี เวลา</th>
                                    <th>เลขสมาชิก</th>
                                    <th>การเปลี่ยนแปลงคะแนน</th>
                                    <th class="text-center">เปลี่ยนโดย</th>
                                    <th class="text-center">สถานะ</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="pending-result"></tbody>
                        </table>
                        <div class="col-lg-12">
                            <nav id="member-pager">
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Table end -->
            </div>
        </div>
    </div>
</div>

