﻿@model tvd.ViewModel.RegisterViewModel

<div class="col-md-12">
    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <label class="control-label">ประเภทธุรกิจ</label>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                @Html.DropDownList("corporateTitle",
					new SelectList(Model.CorporateTitles, "TitleId", "TitleName", 1),
					"โปรดเลือกคำนำหน้า",
					new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <label class="control-label">ชื่อนิติบุคคล</label>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <input id="corporateName" type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <label class="control-label">หมายเลขโทรศัพท์</label>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <input id="corporatePhone" type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <label class="control-label">อีเมลล์</label>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <input id="corporateEmail" type="text" class="form-control" />
            </div>
        </div>
    </div>
</div>