﻿@model tvd.ViewModel.RegisterViewModel

<div class="col-md-12">
	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label class="control-label">ที่อยู่</label>
			</div>
		</div>
		<div class="col-xs-10">
			<div class="form-group">
				<textarea class="form-control" id="currentAddress"></textarea>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label class="control-label">จังหวัด</label>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-group">
				@Html.DropDownList("currentAddressProvince",
					new SelectList(Model.Cities, "CityId", "CityName", 1),
					"โปรดเลือกจังหวัด",
					new { @class = "form-control" })
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label class="control-label">รหัสไปรษณีย์</label>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-group">
				<input id="currentAddressPostalCode" type="text" class="form-control" />
			</div>
		</div>
	</div>
</div>
