﻿@model tvd.ViewModel.RegisterViewModel

@{
	Layout = "~/Views/Shared/_FullLayout.cshtml";
}
<form>
	<div class="col-sm-8" style="margin-bottom: 50px;">

		<h4 class="right-side-content-header" style="margin-top: 20px;">ลงทะเบียนสมาชิก</h4>

		<div class="form-group">
			<label class="radio-inline"><input type="radio" name="optradio1" id="radioPerson" checked="checked">บุคคลธรรมดา</label>
			<label class="radio-inline"><input type="radio" name="optradio1" id="radioCorporate">นิติบุคคล</label>
		</div>

		<div class="form-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>ข้อมูลทั่วไป</h4>
					<div id="tabPerson">
						@{Html.RenderPartial("~/Views/Register/Person.cshtml", Model);}
					</div>
					<div id="tabCorporate" style="display:none;">
						@{Html.RenderPartial("~/Views/Register/Corporate.cshtml", Model);}
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>ที่อยู่ปัจจุบัน</h4>
					@{Html.RenderPartial("~/Views/Register/CurrentAddress.cshtml", Model);}
					<div class="col-md-12">
						<div class="row">
							<div class="col-xs-6">
								<h4>ที่อยู่จัดส่งสินค้า</h4>
								@{Html.RenderPartial("~/Views/Register/ShipmentAddress.cshtml", Model);}
							</div>
							<div class="col-xs-6">
								<h4>ที่อยู่จัดส่งใบเสร็จ</h4>
								@{Html.RenderPartial("~/Views/Register/InvoiceAddress.cshtml", Model);}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>รหัสผ่าน</h4>
					@{Html.RenderPartial("~/Views/Register/Password.cshtml");}
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>คำถามเพื่อความปลอดภัย</h4>
					@{Html.RenderPartial("~/Views/Register/Question.cshtml");}
				</div>
			</div>
		</div>

		<div class="form-group">
			<button id="register" type="button" class="btn btn-lg btn-primary">สมัครสมาชิก</button>
		</div>
	</div>
	@Html.Hidden("selectedMergeMembers", Model.SelectedMergeMembers)
	@Html.Hidden("requestVerificationToken", TokenHeaderValue)
</form>