﻿@model tvd.ViewModel.RegisterViewModel


<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label class="radio-inline"><input type="radio" name="optradio3" id="invoiceUseCurrentAddress">ที่อยู่เดียวกับที่อยู่ปัจจุบัน</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label class="radio-inline"><input type="radio" name="optradio3" id="invoiceUseShipmentAddress">ที่อยู่เดียวกับที่จัดส่งสินค้า</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label class="radio-inline"><input type="radio" name="optradio3" id="invoiceUseNewAddress">ที่อยู่อื่น</label>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label>ที่อยู่</label>
			<textarea class="form-control" id="invoiceAddress"></textarea>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label>จังหวัด</label>
			@Html.DropDownList("invoiceProvince",
					new SelectList(Model.Cities, "CityId", "CityName", 1),
					"โปรดเลือกจังหวัด",
					new { @class = "form-control" })
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label>รหัสไปรษณีย์</label>
			<input id="invoicePostalCode" type="text" class="form-control" />
		</div>
	</div>
</div>




