﻿@model tvd.ViewModel.RegisterViewModel

@{
	Layout = "~/Views/Shared/_FullLayout.cshtml";
}
<form>
	<div class="col-sm-8" style="margin-bottom: 50px;">
		<div class="form-group">
			<a href="/SearchResult/Index"><span class="fa fa-chevron-left"></span> ย้อนกลับ</a>
		</div>
		<h4 class="right-side-content-header" style="margin-top: 20px;">ลงทะเบียนสมาชิก</h4>
		<div class="form-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>บัญชีที่จะทำการรวม</h4>
					<table class="table">
						<thead>
							<tr>
								<th width="15%" class="text-center">เลขที่สมาชิก</th>
								<th width="25%" class="text-left">ชื่อนามสกุล</th>
								<th width="15%" class="text-center">แหล่งที่มา</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var member in Model.Members)
							{
								<tr>
									<td width="15%" class="text-center">
										@if (member.Person.PersonId == 0)
										{
											@member.Person.ReferenceId
										}
										else
										{
											@member.Person.Code
										}
									</td>
									<td width="25%" class="text-left">
										@if (member.Person.PersonId == 0)
										{
											<a href="/memberdetail/index?personId=@member.Person.ReferenceId&source=@((int)member.Person.Source)" target="_blank">
												@member.Person.FullName
											</a>
										}
										else
										{
											<a href="/memberdetail/index?personId=@member.Person.PersonId&source=@((int)member.Person.Source)" target="_blank">
												@member.Person.FullName
											</a>
										}
									</td>
									<td width="15%" class="text-center">@member.Person.SourceString</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="radio-inline"><input type="radio" name="optradio1" id="radioPerson" checked="checked">บุคคลธรรมดา</label>
			<label class="radio-inline"><input type="radio" name="optradio1" id="radioCorporate">นิติบุคคล</label>
		</div>

		<div class="form-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>ข้อมูลทั่วไป</h4>
					<div id="tabPerson">
						@{Html.RenderPartial("~/Views/Register/Person.cshtml", Model);}
					</div>
					<div id="tabCorporate" style="display:none;">
						@{Html.RenderPartial("~/Views/Register/Corporate.cshtml", Model);}
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>ที่อยู่ปัจจุบัน</h4>
					@{Html.RenderPartial("~/Views/Register/CurrentAddress.cshtml", Model);}
					<div class="col-md-12">
						<div class="row">
							<div class="col-xs-6">
								<h4>ที่อยู่จัดส่งสินค้า</h4>
								@{Html.RenderPartial("~/Views/Register/ShipmentAddress.cshtml", Model);}
							</div>
							<div class="col-xs-6">
								<h4>ที่อยู่จัดส่งใบเสร็จ</h4>
								@{Html.RenderPartial("~/Views/Register/InvoiceAddress.cshtml", Model);}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>รหัสผ่าน</h4>
					@{Html.RenderPartial("~/Views/Register/Password.cshtml");}
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>คำถามเพื่อความปลอดภัย</h4>
					@{Html.RenderPartial("~/Views/Register/Question.cshtml");}
				</div>
			</div>
		</div>

		<div class="form-group">
			<button id="register" type="button" class="btn btn-lg btn-primary">รวมสมาชิก</button>
		</div>
	</div>
	@Html.Hidden("selectedMergeMembers", Model.SelectedMergeMembers)
	@Html.Hidden("requestVerificationToken", TokenHeaderValue)
</form>