﻿@model tvd.ViewModel.RegisterViewModel

<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <label class="control-label">รหัสผ่าน</label>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <input id="password" type="password" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <label class="control-label">พิมพ์รหัสผ่านอีกครั้ง</label>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <input id="repeatPassword" type="password" class="form-control" />
            </div>
        </div>
    </div>
</div>
