﻿@model tvd.ViewModel.RegisterViewModel

<div class="col-md-12">
	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label class="control-label">คำนำหน้า</label>
			</div>
		</div>
		<div class="col-xs-10">
			<div class="form-group col-xs-4" style="padding-left:0px;">
				@Html.DropDownList("personTitle",
					new SelectList(Model.PersonTitles, "TitleId", "TitleName", Model.TitleId),
					"โปรดเลือกคำนำหน้า", 
					new { @class = "form-control" })
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label class="control-label">ชื่อ</label>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-group">
				<input id="firstName" type="text" class="form-control" value="@Model.FirstName" />
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label class="control-label">นามสกุล</label>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-group">
				<input id="lastName" type="text" class="form-control" value="@Model.LastName" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label class="control-label">วันเดือนปีเกิด</label>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-group">
				<div class='input-group date' id='datetimepicker1'>
					<input type='text' class="form-control" id="dob" value='@(Model.BirthDate.HasValue ? Model.BirthDate.Value.ToString("dd/MM/yyyy", new System.Globalization.CultureInfo("en-US")) : "")' />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label class="control-label">ไม่ระบุปี</label>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-group">
				<input id="chk-not-specific-year" type="checkbox" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label class="control-label">หมายเลขโทรศัพท์</label>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-group">
				<input id="phone" type="text" class="form-control" value="@Model.ContactNumber" />
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label class="control-label">อีเมลล์</label>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-group">
				<input id="email" type="text" class="form-control" value="@Model.EmailAddress" />
			</div>
		</div>
	</div>
</div>
