﻿@model tvd.ViewModel.RegisterViewModel

<div class="col-md-12">
    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <label class="control-label">คำถามที่ 1</label>
            </div>
        </div>
        <div class="col-xs-4">
            @Html.DropDownList("firstQuestion",
                new SelectList(Model.Questions, "QuestionId", "QuestionDetail"),
                "โปรดเลือกคำถามเพื่อความปลอดภัย",
                new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <label class="control-label">คำตอบ</label>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <input id="firstAnswer" type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <label class="control-label">คำถามที่ 2</label>
            </div>
        </div>
        <div class="col-xs-4">
            @Html.DropDownList("secondQuestion",
				new SelectList(Model.Questions, "QuestionId", "QuestionDetail"),
				"โปรดเลือกคำถามเพื่อความปลอดภัย",
				new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <label class="control-label">คำตอบ</label>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <input id="secondAnswer" type="text" class="form-control" />
            </div>
        </div>
    </div>
</div>
