﻿@model tvd.ViewModel.RegisterViewModel

<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label class="radio-inline"><input type="radio" name="optradio2" id="shipmentUseCurrentAddress">ที่อยู่เดียวกับที่อยู่ปัจจุบัน</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label class="radio-inline"><input type="radio" name="optradio2" id="shipmentUseNewAddress">ที่อยู่อื่น</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label></label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label>ที่อยู่</label>
			<textarea class="form-control" id="shipmentAddress"></textarea>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label>จังหวัด</label>

			@Html.DropDownList("shipmentProvince",
					new SelectList(Model.Cities, "CityId", "CityName", 1),
					"โปรดเลือกจังหวัด",
					new { @class = "form-control" })
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label>รหัสไปรษณีย์</label>
			<input id="shipmentPostalCode" type="text" class="form-control" />
		</div>
	</div>
</div>




