﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="container" style="margin-top: 5%; margin-bottom: 10%;">
<form class="form-signin">

    <h4 class="form-signin-heading" style="text-align: center; font-size: 20px;">กรุณากรอกข้อมูลเพื่อเข้าสู่ระบบ</h4>
    <label for="inputEmail" class="sr-only">ชื่อผู้ใช้</label>
    <input id="signin-email" type="text" class="form-control" placeholder="ชื่อผู้ใช้..">
    <div style="margin-bottom: 10px;"></div>
    <label for="inputPassword" class="sr-only">Password</label>
    <input id="signin-password" type="password" class="form-control" placeholder="รหัสผ่าน..">
     <div class="checkbox">
        <label>
            <input id="signin-remember" type="checkbox" value="remember-me"> Remember me
        </label>
    </div> 
    <button id="signin-submit" class="btn btn-lg btn-primary btn-block" type="button">เข้าสู่ระบบ</button>

    @Html.Hidden("requestVerificationToken", TokenHeaderValue)
</form>
</div>




