﻿{{#each items}}
<tr>
	<td class="text-center"><input id="product-selected-{{Code}}" class="product-selected" type="checkbox" data-rewardid="{{RewardId}}" /></td>
	<td>{{Code}}</td>
	<td class="description">{{Description}}</td>
	<td class="text-center point-only" data-pointonly="{{PointOnly}}">{{PointOnly}}</td>
	<td class="text-center point" data-point="{{Point}}">{{Point}}</td>
	<td class="text-center money" data-money="{{Money}}">{{formatDecimal Money}}</td>
	<td class="text-center">
		<div class="form-group">
			<select id="select-redemption-type-{{Code}}" class="form-control redemption-type">
				<option value="-1">ระบุวิธีการแลก</option>
				<option value="0">ใช้คะแนนเท่านั้น</option>
				<option value="1">ใช้คะแนนและเพิ่มเงิน</option>
			</select>
		</div>
	</td>
</tr>
{{/each}}