﻿@model tvd.ViewModel.BasePageViewModel

<footer class="footer">
    <section class="last-footer">
        <div class="container-fluid">
            <div class="container">
                <div class="last-footer-wrapper">
                    <div class="text-right">
                        <div><span class="label-Copyright">Copyright, © TVD Membership, All Rights Reserved</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>