
{{#each by_items}}
<tr>
    <td>
        <select class="form-control" id="rule-promo-order" data-promo-rule-id="{{PromoRuleId}}">
            {{#each_rules_option ../by_dropdowns RuleOrder}}
            {{/each_rules_option}}
        </select>
    </td>
    <td>{{RuleCode}}</td>
    <td>{{{Description}}}</td>
    <td>
        {{#if_null PointLevelName}}
            ทุกระดับ
        {{else}}
            {{{PointLevelName}}}
        {{/if_null}}
    </td>
    <td>
        {{#if_null PaymentTypeName}}
            ทุกประเภทบัตร
        {{else}}
            {{{PaymentTypeName}}}
        {{/if_null}}
    </td>
    <td class="text-center">
        <a name="delete" data-id="{{PromoRuleId}}" type="button" class="btn btn-link">
            <span style="margin-left:15px;" class="glyphicon glyphicon-trash"></span> ลบ
        </a>
    </td>
</tr>
{{/each}}
