﻿@model tvd.ViewModel.NewsViewModel

@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
        </div>
    </div>
</div>

<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }
        </div>
        <div class="tab-pane active">
            <div class="tab-content">
                <div class="row">
                    <h2 class="tvd">@Model.SubPageTitle</h2>
                    <div class="form-group">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <div class="form-group">
                                                <label class="control-label">หัวข้อ</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <input id="news-title" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <div class="form-group">
                                                <label class="control-label">ประเภท</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <select id="news-type" class="form-control">
                                                    <option value="0"></option>
                                                    <option value="1">ข่าวสารสมาชิก</option>
                                                    <option value="2">ข่าวสารโปรโมชั่น</option>
                                                    <option value="3">กฏระเบียบสมาชิก</option>
                                                    <option value="4">สิทธิประโยชน์สมาชิก</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <div class="form-group">
                                                <label class="control-label">สถานะ</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <select id="news-stat" class="form-control">
                                                    @foreach (var status in Model.NewsStatus)
                                                    {
                                                        <option value="@status">@tvd.model.Helpers.EnumHelper.GetEnumDescription(status)</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-1">
                                            <div class="form-group">
                                                <label class="control-label">วันที่เผยแพร่</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input type='text' class="form-control" id="valid-from" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <div class="form-group">
                                                <label class="control-label">ถึง</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker2'>
                                                    <input type='text' class="form-control" id="valid-to" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <div class="form-group">
                                                <label class="control-label">เนื้อหา</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-9">
                                            <div class="form-group">
                                                <textarea id="news-content"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button id="news-create-button" type="button" class="btn btn-lg btn-primary">เพิ่มข่าวสาร</button>
                    </div>
                    @Html.Hidden("requestVerificationToken", TokenHeaderValue)
                </div>
            </div>
        </div>
    </div>
</div>

