﻿@model tvd.ViewModel.NewsViewModel

@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
        </div>
    </div>
</div>

<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }
        </div>
        <div class="tab-pane active">
            <div class="tab-content">
                @if (Model.NewsInfo != null)
            {
                    <div class="row">
                        <h2 class="tvd">@Model.SubPageTitle</h2>
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-xs-1">
                                                <div class="form-group">
                                                    <label class="control-label">หัวข้อ</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <input id="news-title" type="text" class="form-control" value="@Model.NewsInfo.Title" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-1">
                                                <div class="form-group">
                                                    <label class="control-label">ประเภท</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    @Html.DropDownListFor(m => Model.NewsInfo.Type, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="ข่าวสารสมาชิก", Value = "1" },
                                                new SelectListItem{ Text="ข่าวสารโปรโมชั่น", Value = "2" },
                                                new SelectListItem{ Text="กฏระเบียบสมาชิก", Value = "3" },
                                                new SelectListItem{ Text="สิทธิประโยชน์สมาชิก", Value = "4" },
                                             }, new { @class = "form-control", @id = "news-type" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-1">
                                                <div class="form-group">
                                                    <label class="control-label">สถานะ</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    @Html.DropDownListFor(m => Model.NewsInfo.Status, new List<SelectListItem>
                                                    {
                                                        new SelectListItem{ Text="แบบร่าง", Value = "DRAFT" },
                                                        new SelectListItem{ Text="เผยแพร่", Value = "PUBLISH" }
                                                    }, new { @class = "form-control", @id = "news-stat" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-1">
                                                <div class="form-group">
                                                    <label class="control-label">วันที่เผยแพร่</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <div class='input-group date' id='datetimepicker1'>
                                                        <input type='text' class="form-control" id="valid-from" value="@Model.NewsInfo.StartDate.ToString("dd/MM/yyyy")"/>
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-1">
                                                <div class="form-group">
                                                    <label class="control-label">ถึง</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <div class='input-group date' id='datetimepicker2'>
                                                        <input type='text' class="form-control" id="valid-to" value="@Model.NewsInfo.EndDate.ToString("dd/MM/yyyy")" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-1">
                                                <div class="form-group">
                                                    <label class="control-label">เนื้อหา</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-9">
                                                <div class="form-group">
                                                    <textarea name='news-content' id="news-content">@Model.NewsInfo.Content</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button id="news-edit-button" type="button" class="btn btn-lg btn-primary">แก้ไขข่าวสาร</button>
                        </div>
                        @Html.Hidden("requestVerificationToken", TokenHeaderValue)
                        @Html.Hidden("news-id", Model.NewsId)
                    </div>
                }
            </div>
        </div>
    </div>
</div>
