﻿@model tvd.ViewModel.NewsViewModel
@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
        </div>
    </div>
</div>

<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }
        </div>
        <div class="tab-pane active">
            <div class="tab-content">
                <div class="row">
                    <h2 class="tvd">ข่าวสารสมาชิก</h2>
                    @Html.Hidden("requestVerificationToken", TokenHeaderValue)
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-6">
                        <a href="@Model.CreateNewsUrl" class="btn btn-primary" style="width:100px;">
                            เพิ่มข่าว
                        </a>
                        <span style="margin-left:15px;" class="glyphicon glyphicon-trash"></span>
                        <a style="margin-left:-10px;" class="btn btn-link" id="news-delete-all">ลบที่เลือก</a>
                    </div>
                    <div class="col-sm-2 pull-right">
                        <select id="news-filter" class="form-control" >
                            <option value="0">ทุกสถานะ</option>
                            @foreach (var status in Model.NewsStatus)
                            {
                                <option value="@status">@tvd.model.Helpers.EnumHelper.GetEnumDescription(status)</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                <table class="table table-striped" id="news-member">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th><input id="news-selected-all" type="checkbox" /></th>
                                            <th>วันที่เผยแพร่</th>
                                            <th>วันที่สิ้นสุดเผยแพร่</th>
                                            <th>สถานะ</th>
                                            <th>หัวข้อข่าว</th>
                                            <th>แก้ไขเมื่อ</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="news-member-result"></tbody>
                                </table>
                                <div class="col-lg-12">
                                    <div id="news-member-pager">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

