﻿
@model tvd.ViewModel.NewsViewModel


@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
        </div>
    </div>
</div>

<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }
        </div>
        <div class="tab-pane active">
            <div class="tab-content">
                @if (Model.NewsInfo != null)
            {
                    <div class="row">
                        <h2 class="tvd">@Model.NewsInfo.Title</h2>
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        @*<div class="row">
                                            <label class="control-label col-xs-2" for="title">หัวข้อ</label>
                                            <div class="col-xs-3">
                                                <label class="form-control" id="title">@Model.NewsInfo.Title</label>
                                            </div>
                                        </div>*@
                                        <div class="row">
                                            <label class="control-label col-xs-2" for="title">ประเภท</label>
                                            <div class="col-xs-3">
                                                <label class="form-control col-xs-3">@tvd.model.Helpers.EnumHelper.GetEnumDescription(Model.NewsInfo.Type)</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-xs-2">สถานะ</label>
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <label class="form-control col-xs-3">@tvd.model.Helpers.EnumHelper.GetEnumDescription(Model.NewsInfo.Status)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-xs-2">วันที่เผยแพร่</label>
                                            <div class="col-xs-3">
                                                <label class="form-control">@Model.NewsInfo.StartDate.ToString("dd/MM/yyyy")</label>
                                            </div>
                                            <label class="control-label col-xs-1 text-center">ถึง</label>
                                            <div class="col-xs-3">
                                                <label class="form-control">@Model.NewsInfo.EndDate.ToString("dd/MM/yyyy")</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-xs-2">Preview เนื้อหา</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <iframe style="width: 100%; height: 450px;" srcdoc="<html><body>@Model.NewsInfo.Content</body></html>"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="/news/index" class="btn btn-lg btn-primary">ย้อนกลับ</a>
                        </div>
                        @Html.Hidden("requestVerificationToken", TokenHeaderValue)
                        @Html.Hidden("news-id", Model.NewsId)
                    </div>
                }
            </div>
        </div>
    </div>
</div>
