﻿@model tvd.ViewModel.SearchResultViewModel

@{
	Layout = "~/Views/Shared/_FullLayout.cshtml";
}
<br>
<div class="container">
	<div class="col-md-12">
		<div class="row">
			<div class="jumbotron" style="background-color: #eceff1; padding-top: 40px; padding-bottom: 30px;">
				<div class="row">
					<div class="col-xs-2" style="padding-left: 0px;">
						<div class="form-group">
							<label class="control-label pull-left">ค้นหาชื่อ-สกุล/ชื่อนิติบุคคล</label>
						</div>
					</div>
					<div class="col-xs-5">
						<div class="form-group">
							<input class="form-control" id="search-name" value="@Model.SearchCriteria.Name" />
						</div>
					</div>
					<div class="col-xs-5">
						<div class="form-group">
							<button id="search-button-2" class="btn btn-primary" type="button" style="width:120px;">
								<span class="glyphicon glyphicon-search"></span> ค้นหา
							</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2" style="padding-left: 0px;">
						<div class="form-group">
							<label class="control-label pull-left">หมายเลขบัตรประชาชน</label>
						</div>
					</div>
					<div class="col-xs-5">
						<div class="form-group">
							<input id="search-id-card" type="text" class="form-control" value="@Model.SearchCriteria.Phone" />
						</div>
					</div>
					<div class="col-xs-5">
						<div class="form-group">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2" style="padding-left: 0px;">
						<div class="form-group">
							<label class="control-label pull-left">หมายเลขโทรศัพท์</label>
						</div>
					</div>
					<div class="col-xs-5">
						<div class="form-group">
							<input id="search-phone" type="text" class="form-control" value="@Model.SearchCriteria.Phone" />
						</div>
					</div>
					<div class="col-xs-5">
						<div class="form-group">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2" style="padding-left: 0px;">
						<div class="form-group">
							<label class="control-label pull-left">หมายเลขสมาชิก</label>
						</div>
					</div>
					<div class="col-xs-5">
						<div class="form-group">
							<input id="search-member" type="text" class="form-control" value="@Model.SearchCriteria.MemberId" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
						</div>
					</div>
					<div class="col-xs-5">
						<div class="form-group">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group pull-right">
					<a id="merge-button" href='javascript:void(0);' class="btn btn-primary" type="button">
						<span class="glyphicon glyphicon-link"></span> รวมสมาชิกซ้ำซ้อน
					</a>
					<a href='javascript:void(0);' id="new-button" class="btn btn-default" type="button">
						<span class="glyphicon glyphicon-plus-sign"></span> ลงทะเบียนสมาชิกใหม่
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<p>ผลการค้นหา</p>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>เลขที่สมาชิก</th>
						<th>รหัสอ้างอิงเดิม</th>
						<th>ชื่อ-นามสกุล</th>
						<th>สมัครโดย</th>
						<th>เริ่มเป็นสมาชิก</th>
						<th>คะแนนสะสมปัจจุบัน</th>
						<th>สถานะ</th>
					</tr>
				</thead>
				<tbody id="search-data"></tbody>
			</table>
			<div class="col-lg-12">
				<div id="search-result-pager">
				</div>
			</div>
		</div>
	</div>
</div>