﻿@model tvd.ViewModel.UserSettingViewModel

@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }

        </div>
    </div>
</div>

<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }

        </div>
        <div class="tab-pane active">
            <div class="tab-content">
                <div class="row col-md-8">
                    <!-- Name panel start -->
                    <div class="form-group">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    @*<div class="row">
                                            <div class="col-xs-12">
                                                <span class="pull-right" style="padding-top: 2%">ตำแหน่ง</span>
                                            </div>
                                        </div>*@
                                    <div class="row">
                                        <div class="col-xs12">
                                            <h1 style="text-align: right; position: relative;">
                                                <span style="left: 0; position: absolute;">@Model.Employee.FullName</span>
                                                <span style="font-size: 70%">@Model.Employee.JobTitle</span>
                                            </h1>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Name panel end-->
                    <div class="form-group">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>ข้อมูลทั่วไป</h4>

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label"><b>คำนำหน้า</b></label>
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="form-group">
                                                @Model.Employee.PrefixName
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label"><b>ชื่อ</b></label>
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            @Model.Employee.FirstName
                                            @*<input id="emp-firstName" type="text" class="form-control" value="@Model.Employee.FirstName"/>*@
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label"><b>หมายเลขโทรศัพท์</b></label>
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            @Model.Employee.ContactNumber
                                            @*<input id="emp-phone" type="text" class="form-control" value="@Model.Employee.ContactNumber"/>*@
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label"><b>รหัสพนักงาน</b></label>
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            @Model.Employee.EmployeeCode
                                            @*<input id="emp-empCode" type="text" class="form-control" value="@Model.Employee.EmployeeId"/>*@
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label"><b>นามสกุล</b></label>
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            @Model.Employee.LastName
                                            @*<input id="emp-lastName" type="text" class="form-control" value="@Model.Employee.LastName"/>*@
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label"><b>อีเมลล์</b></label>
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            @Model.Employee.EmailAddress
                                            @*<input id="emp-email" type="text" class="form-control" value="@Model.Employee.Email"/>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.Hidden("requestVerificationToken", TokenHeaderValue)
                    @if (Model.Employee != null)
                    {
                        @Html.Hidden("emp-Id", Model.Employee.EmployeeCode)
                    }
                </div>
            </div>
        </div>
    </div>
</div>

