﻿@model tvd.ViewModel.UserSettingViewModel

@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }

        </div>
    </div>
</div>

<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }

        </div>
        <div class="tab-pane active">
            <div class="tab-content">
                <div class="row col-md-8">
                    <h2 class="tvd">แก้ไขพนักงาน</h2>

                    <div class="form-group">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>ข้อมูลทั่วไป</h4>

                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="control-label"><b>รหัสพนักงาน</b></label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            @*@Model.Employee.EmployeeCode*@
                                            <input id="emp-empCode" type="text" class="form-control" value="@Model.Employee.EmployeeCode" disabled="disabled"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="control-label"><b>คำนำหน้า</b></label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                @Model.Employee.PrefixName
                                                @*@Html.DropDownList("personTitle",
                                                new SelectList(Model.PersonTitles, "TitleId", "TitleName", 1),
                                                new { @id = "emp-personTitle", @class = "form-control" })*@
                                            </div>
                                        </div>
                                        <div class="col-xs-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="control-label"><b>ชื่อ</b></label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            @Model.Employee.FirstName
                                            @*<input id="emp-firstName" type="text" class="form-control" value="@Model.Employee.FirstName"/>*@
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="control-label"><b>นามสกุล</b></label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            @Model.Employee.LastName
                                            @*<input id="emp-lastName" type="text" class="form-control" value="@Model.Employee.LastName"/>*@
                                        </div>
                                    </div>
                                   
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="control-label"><b>หมายเลขโทรศัพท์</b></label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            @Model.Employee.ContactNumber
                                            @*<input id="emp-phone" type="text" class="form-control" value="@Model.Employee.ContactNumber"/>*@
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label class="control-label"><b>อีเมลล์</b></label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            @Model.Employee.EmailAddress
                                            @*<input id="emp-email" type="text" class="form-control" value="@Model.Employee.Email"/>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>หน้าที่การใช้งาน</h4>

                                <div class="col-md-8" style="margin-bottom: 20px;">
                                    @Html.DropDownList("emp-role",
                                    new SelectList(Model.RoleList, "RoleId", "RoleName", Model.Employee.EmployeeInRole.Role.RoleId),
                                    new { @id = "emp-role", @class = "form-control" })
                                </div>
                                
                                <!-- <div class="col-md-12">
                                    <span style="margin-bottom: 10px;">รายการเพจการใช้งานทั้งหมด</span>
                                    <input type="checkbox" id="emp-access-control-checked-all" /> เลือกทั้งหมด
                                    <ul class="nav nav-pills" id="emp-access-control">
                                        @foreach(var control in Model.AccessControlList)
                                        {
                                            <li style="padding: 10px; width: 30%;">
                                                @if(control.IsChecked) {
                                                    <input type="checkbox" id="@control.PageTypeId" checked="checked" /> 
                                                }
                                                else {
                                                    <input type="checkbox" id="@control.PageTypeId" /> 
                                                }
                                                <label>@control.PageTypeName</label>
                                            </li>
                                        }
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>

                 
                    <div class="form-group">
                        <button id="emp-edit" type="button" class="btn btn-lg btn-primary">แก้ไขพนักงาน</button>
                        <a href="@Model.EmployeeUrl" class="btn btn-lg btn-default">ยกเลิก</a>
                    </div>
                    @Html.Hidden("requestVerificationToken", TokenHeaderValue)
                    @if (Model.Employee != null)
                    {
                        @Html.Hidden("emp-empCode", Model.Employee.EmployeeCode)
                    }
                </div>
            </div>
        </div>
    </div>
</div>

