﻿@model tvd.ViewModel.UserSettingViewModel

@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
        </div>
    </div>
</div>

<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }

        </div>
        <div class="tab-pane active">
            <div class="tab-content">
                <div class="row">
                    <h2 class="tvd">พนักงาน</h2>
                    <div class="jumbotron" style="background-color: #eceff1;">
                        <div class="row">
                            <div class="col-sm-1"><label class="control-label">ค้นหาพนักงาน</label></div>
                            <div class="col-sm-4">
                                <input class="form-control" id="emp-search-text" value="" />
                                <label class="short-desc">ชื่อ-นามสกุลพนักงาน / เลขที่สมาชิกพนักงาน</label>
                            </div>
                            <div class="col-sm-2">
                                <button id="emp-search-button" class="btn btn-primary" type="button" style="width:120px;">
                                    <span class="glyphicon glyphicon-search"></span> ค้นหา
                                </button>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-primary" href="@Model.EmployeeCreateUrl">
                                    <span class="glyphicon glyphicon-plus-sign"></span> เพิ่มพนักงานใหม่
                                </a>
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1"><label class="control-label">ตัวกรอง</label></div>
                            <div class="col-sm-4">
                                @Html.DropDownList("emp-role", 
                                    new SelectList(Model.RoleList, "RoleId", "RoleName"),
                                    "เลือกหน้าที่การใช้งาน",
                                    new {@id = "emp-role", @class = "form-control"})
                            </div>
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-5">
                            </div>
                        </div>
                    </div>
                    @Html.Hidden("requestVerificationToken", TokenHeaderValue)
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Striped Table
                            </div>
                            <div class="card-block">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>หมายเลขพนักงาน</th>
                                            <th>ชื่อ-นามสกุลของพนักงาน</th>
                                            <th>หน้าที่การใช้งาน</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="emp-search-result"></tbody>
                                </table>
                                <div class="col-lg-12">
                                    <nav id="emp-pager">
                                    </nav>
                                </div>
                                @*<ul class="pagination" id="emp-pager">
                                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>*@
                            </div>
                        </div>
                    </div>
                </div>

</div>





</div>
</div>
</div>