﻿@using tvd.model.Models.CommonDTO.Employee;
@model tvd.ViewModel.UserSettingViewModel
@{
	Layout = "~/Views/Shared/_FullLayout.cshtml";

	RolePermission rolePermission = (Model.RolePermission == null) ? new RolePermission() : Model.RolePermission;
}



<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
	<div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
		<a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
			<i class="fa  inline fa-angle-left" aria-hidden="true"></i>
		</a>
		<div class="sub-wrapper-mobile">
			@{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }

		</div>
	</div>
</div>

<div id="main">
	<span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
		<i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
	</span>
	<div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
		<div class="menu-page-block">
			@{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }

		</div>
		<div class="tab-pane active" id="tab1">
			<div class="tab-content">
				<div class="row col-md-8">
					<h2 class="tvd">แก้ไขหน้าที่การใช้งาน</h2>
					<div class="form-group">
						<div class="panel panel-default">
							<div class="panel-body">
								<h4>ข้อมูลทั่วไป</h4>
								<div class="col-md-8">
									<div class="row">
										<div class="col-xs-3">
											<div class="form-group">
												<label class="control-label">ชื่อตำแหน่ง</label>
											</div>
										</div>
										<div class="col-xs-5">
											<input id="roleName" type="text" class="form-control" value="@rolePermission.Role.RoleName" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="panel panel-default">
							<div class="panel-body">
								<h4>การอนุญาตเข้าถึงการใช้งาน</h4>
								<div class="col-md-8">
									<div class="row">
										<div class="col-xs-2">
											<div class="form-group">
												<input id="permission-member-registration-system" type="checkbox" @(rolePermission.IsPermitInMemberRegistrationSystem ? "checked" : "") />
											</div>
										</div>
										<div class="col-xs-6">
											<label class="control-label">ข้อมูลสมาชิก</label>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-2">
											<div class="form-group">
												<input id="permission-approve-system" type="checkbox" @(rolePermission.IsPermitInApproveSystem ? "checked" : "")>
											</div>
										</div>
										<div class="col-xs-6">
											<label class="control-label">การอนุมัติ</label>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-2">
											<div class="form-group">
												<input id="permission-news-system" type="checkbox" @(rolePermission.IsPermitInNewsSystem ? "checked" : "") />
											</div>
										</div>
										<div class="col-xs-6">
											<label class="control-label">การลงข่าว</label>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-2">
											<div class="form-group">
												<input id="permission-point-setting-system" type="checkbox" @(rolePermission.IsPermitInPointSettingSystem ? "checked" : "") />
											</div>
										</div>
										<div class="col-xs-6">
											<label class="control-label">การลงข้อกำหนด</label>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-2">
											<div class="form-group">
												<input id="permission-report-system" type="checkbox" @(rolePermission.IsPermitInReportSystem ? "checked" : "") />
											</div>
										</div>
										<div class="col-xs-6">
											<label class="control-label">การเรียกดูรายงาน</label>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-2">
											<div class="form-group">
												<input id="permission-audit-system" type="checkbox" @(rolePermission.IsPermisInAuditReportSystem ? "checked" : "") />
											</div>
										</div>
										<div class="col-xs-6">
											<label class="control-label">การเรียกดูประวัติการใช้งาน</label>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-2">
											<div class="form-group">
												<input id="permission-employee-management-system" type="checkbox" @(rolePermission.IsPermitInEmployeeManagementSystem ? "checked" : "") />
											</div>
										</div>
										<div class="col-xs-6">
											<label class="control-label">การเพิ่ม/เปลี่ยนแปลงกลุ่มพนักงาน</label>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-2">
											<div class="form-group">
												<input id="permission-in-role-system" type="checkbox" @(rolePermission.IsPermitInRoleSystem ? "checked" : "") />
											</div>
										</div>
										<div class="col-xs-6">
											<label class="control-label">การกำหนดหน้าที่กลุ่มผู้ใช้</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="col-xs-12">
									<h4>รายการเพจการใช้งานทั้งหมด <input style="margin-left:10px;" checked="checked" type="checkbox" id="emp-access-control-checked-all" /> เลือกทั้งหมด</h4>
								</div>
								<div class="col-md-12">
									<ul class="nav nav-pills" id="emp-access-control">
										@foreach (var control in Model.AccessControlList)
										{
											<li style="padding: 10px; width: 40%;">
												@if (control.IsChecked)
												{
													<input type="checkbox" id="@control.PageTypeId" checked="checked" />
												}
												else
												{
													<input type="checkbox" id="@control.PageTypeId" />
												}
												<label for="@control.PageTypeId">
													@(tvd.model.Helpers.EnumHelper.GetEnumDescription(control.PageTypeName))
												</label>
											</li>			}
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<button id="permission-edit" type="button" class="btn btn-lg btn-primary">แก้ไขหน้าที่</button>
					</div>
					@Html.Hidden("requestVerificationToken", TokenHeaderValue)
					@Html.Hidden("roleId", Model.RoleId)
				</div>
			</div>
		</div>
	</div>
</div>






