﻿@model tvd.ViewModel.UserSettingViewModel

@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }

        </div>
    </div>
</div>

<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }

        </div>
        <div class="tab-pane active">
            <div class="tab-content">
                <div class="row col-lg-8">
                    <h2 class="tvd">หน้าที่การใช้งาน</h2>
                    <a class="btn btn-primary pull-right" style="margin-top: -50px; position: absolute; right: 0;" 
                       href="@Model.PermissionCreateUrl">
                        <span class="glyphicon glyphicon-plus-sign"></span> เพิ่มหน้าที่
                    </a>
                    @Html.Hidden("requestVerificationToken", TokenHeaderValue)
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-block">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>หน้าที่การใช้งาน</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="role-result"></tbody>
                                </table>
                                <div class="col-lg-12">
                                    <nav id="role-pager">
                                    </nav>
                                </div>
                                @*<ul class="pagination" id="emp-pager">
                                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>*@
                            </div>
                        </div>
                    </div>
                </div>

            </div>





        </div>
    </div>
</div>





