
{{#each items}}
<tr>
    <td class="text-center">
        <input data-id="{{RuleId}}" type="checkbox" />
    </td>
    {{!-- <td><a name="code" data-id="{{RuleId}}" class="btn btn-link">{{Code}}</a></td> --}}
    <td>{{Code}}</td>
    <td>{{{Description}}}</td>
    <td class="text-center">
        {{#if_equals RecStatus 1}}
            <span class="badge badge-success">Active</span>
        {{else}}
            <span class="badge badge-default">Inactive</span>
        {{/if_equals}}
    </td>
</tr>
{{/each}}
