
{{#each items}}
<tr>
    <td style="text-align:center">
        <a name="promo-rule-detail" data-index={{@index}} data-id="{{PromotionId}}" class="detail-icon" href="#">
            <i class="glyphicon glyphicon-plus icon-plus"></i>
        </a>
    </td>
    <td><a href='/point/campaign/detail?id={{Code}}' class="btn btn-link">{{Code}}</a></td>
    <td>{{PromotionName}}</td>
    <td class="text-center">
        {{#if_equals RecStatus 1}}
            <span class="badge badge-success">Active</span>
        {{else}}
            <span class="badge badge-default">Inactive</span>
        {{/if_equals}}
    </td>
    <td style="text-align:center">{{formatDate CreateDate 'lll'}}</td>
</tr>
<tr style="display:none;">
    <td colspan="5">
        <h4>รหัสกฎการคำนวณ : </h4>
        <ul id={{PromotionId}}></ul>
    </td>
</tr>
{{/each}}
