
{{#each items}}
<tr>
    <td>{{Code}}</td>
    <td>{{PromotionName}}</td>
    <td class="text-center">
        {{#if_equals RecStatus 1}}
            <span class="tag tag-success">Active</span>
        {{else}}
            <span class="tag tag-default">Inactive</span>
        {{/if_equals}}
    </td>
    <td style="text-align:center">{{formatDate CreateDate 'lll'}}</td>
</tr>
{{/each}}
