
{{#each items}}
<tr>
    <td>{{Code}}</td>
    <td>
        {{#if_equals RecStatus 1}}
        <a href='/point/campaign/detail?id={{Id}}' class="btn btn-link">
         {{PromotionName}}
         </a>
        {{else}}
            <label style='padding: 6px 12px;'>{{PromotionName}}</label>
        {{/if_equals}}
    </td>
    <td >{{formatDate CreateDate 'lll'}}</td>
    <td class="text-center">
        {{#if_equals RecStatus 1}}
            <span class="tag tag-success">Active</span>
        {{else}}
            <span class="tag tag-default">Inactive</span>
        {{/if_equals}}
    </td>
</tr>
{{/each}}
