﻿{{#each items}}
<tr>
	<td>{{formatDate RecCreatedWhen 'lll'}}</td>
	<td class="text-center">{{AuditActionTypeDescription}}</td>
	<td>{{DescriptionObject.Detail}}</td>
	<td class="text-center">{{DescriptionObject.UpdatePoint}}</td>
	<td class="text-center">{{DescriptionObject.RamainPoint}}</td>
	<td class="text-center">{{DescriptionObject.Source.FullName}}</td>
	<td class="text-center">{{RecStatusDescription}}</td>
</tr>
{{/each}}