﻿{{#each items}}
<tr>
	<td>{{formatDate RecCreatedWhen 'lll'}}</td>
	<td class="text-center">{{AuditActionTypeDescription}}</td>
	<td>{{Description}}</td>
	<td class="text-center">{{DescriptionObject.Source.FullName}}</td>
</tr>
{{/each}}
