{{#each items}}
<tr>
	<td>
		<input class="checkbox"
			   data-person-id="{{Person.PersonId}}"
			   data-reference-id="{{Person.ReferenceId}}"
			   data-source="{{Person.Source}}"
			   data-current-point="{{CurrentPoints}}"
			   type="checkbox" />
	</td>
	<td>
		{{#if_not_equals Person.Code ''}}
			<a href="/memberdetail/index?personId={{Person.SearchId}}&source={{Person.Source}}">{{Person.Code}}</a>
		{{/if_not_equals}}
	</td>
	<td>
		{{#if_not_equals Person.PersonId 0}}
		{{Person.PersonId}}
		{{else}}
		{{Person.ReferenceId}}
		{{/if_not_equals}}
	</td>
	<td>
		<a class="tooltips"
		   data-fullname="{{Person.FullName}}"
		   data-birthdate="{{Person.BirthDate}}"
		   data-cotactnumber="{{Person.ContactNumber}}"
		   data-sourcestring="{{Person.SourceString}}"
		   data-link="'/memberdetail/index?personId={{Person.SearchId}}&source={{Person.Source}}'">
			{{Person.FullName}}
		</a>
	</td>
	<td>{{Person.SourceString}}</td>
	<td>
		{{#if_not_null Person.RecCreatedWhen}}
		{{formatDate Person.RecCreatedWhen 'lll'}}
		{{/if_not_null}}
	</td>
	<td>{{CurrentPoints}}</td>
	<td>
		{{#if_equals Person.RecStatus 2}}
		<span class="label label-warning">Pending Approve</span>
		{{/if_equals}}
		{{#if_equals Person.RecStatus 1}}
		<span class="label label-success">Active</span>
		{{/if_equals}}
		{{#if_equals Person.RecStatus 0}}
		<span class="label label-default">Inactive</span>
		{{/if_equals}}
		{{#if_equals Person.RecStatus -1}}
		<span class="label label-default">Blocked</span>
		{{/if_equals}}
		{{#if_equals Person.RecStatus 99}}
		<span class="label label-default">Not in a system</span>
		{{/if_equals}}
		{{#if_null Person.RecStatus}}
		<span class="label label-default">Not in a system</span>
		{{/if_null}}
	</td>
</tr>
{{/each}}
