
{{#each items}}
<tr>
    <td>
        {{#if_equals RecStatus 0}}
        <input class="checkbox" data-id="{{ApproveId}}" type="checkbox" />
        {{/if_equals}}
    </td>
    <td>{{formatDate RecCreatedWhen 'lll'}}</td>
    <td>{{ObjectValue.PersonCode}}</td>
    <td>{{ObjectValue.RedeemPoint.ProductCode}} {{ObjectValue.RedeemPoint.Description}}</td>
    <td class="text-center">
        {{#if_equals ObjectValue.Type 0}}
            {{ObjectValue.RedeemPoint.RequiredPointOnly}}
        {{else}}
            {{ObjectValue.RedeemPoint.RequiredPoint}}
        {{/if_equals}}
    </td>
    <td class="text-center">
        {{ObjectValue.RedeemPoint.RequiredMoney}}
    </td>
    <td class="text-center">
        {{#if_null ObjectValue.RecCreatedBy}}
        ONLINE
        {{else}}
        <a class="tvd" href="{{../baseUrl}}{{ObjectValue.RecCreatedBy.DetailUrl}}">{{ObjectValue.RecCreatedBy.FullName}}</a>
        {{/if_null}}
    </td>
    <td class="text-center">
        {{#if_equals RecStatus 1}}
            <span class="badge badge-success">อนุมัติแล้ว</span>
        {{else}}
            {{#if_equals RecStatus 0}}
                <span class="badge badge-default">รออนุมัติ</span>
            {{else}}
            <span class="badge badge-default">ระงับแล้ว</span>
            {{/if_equals}}
        {{/if_equals}}
    </td>
    <td>
        {{#if_equals RecStatus 0}}
        <a name="edit" data-id="{{ApproveId}}" type="button" class="btn btn-link">
            <span class="glyphicon glyphicon-ok" style="color: #21bf21"></span> อนุมัติ
        </a>
        <a name="delete" data-id="{{ApproveId}}" type="button" class="btn btn-link">
            <span style="margin-left:15px; color:#d80b0b" class="glyphicon glyphicon-ban-circle"></span> ระงับ
        </a>
        {{else}}
            <a></a>
        {{/if_equals}}
    </td>
</tr>
{{/each}}
