
{{#each items}}
<tr>
    <td>{{inc @index}}</td>
    <td>{{formatDate RecCreatedWhen 'lll'}}</td>
    <td class="text-center">{{RecCreatedBy}}</td>
    <td class="text-center">
        {{#if_null Description.Source}}
        ONLINE
        {{else}}
        <a class="tvd" href="{{../baseUrl}}{{Description.Source.DetailUrl}}">{{Description.Source.FullName}}</a>
        {{/if_null}}
    </td>
    <td class="text-center">
        {{Description.PersonCode}}
    </td>
    <td class="text-center">
      {{Description.Name}}
    </td>
</tr>
{{/each}}
