
{{#each items}}
<tr>
    <td>{{inc @index}}</td>
    <td>{{formatDate RecCreatedWhen 'lll'}}</td>
    <td class="text-center"><a class="tvd" href="{{EmployeeURL}}">{{EmployeeCode}}</a></td>
    <td class="text-center">
        {{EmployeeName}}
    </td>
    <td class="text-center"><a class="tvd" href="{{MemberURL}}">{{PersonCode}}</a></td>
    <td class="text-center">{{PersonName}}</td>
</tr>
{{/each}}
