
{{#each items}}
<tr>
    <td>{{inc @index}}</td>
    <td class="text-center"><a class="tvd" href="{{MemberURL}}">{{PersonCode}}</a></td>
    <td class="text-left">{{PersonName}}</td>
    <td class="text-center">
        {{Points}}
    </td>
    {{#if_not_null ExpiredDate}}
    <td class="text-center">
        {{formatDate ExpiredDate 'DD/MM/YYYY'}}
    </td>
    {{/if_not_null}}
	<td class="text-center">
		{{ExpireDetail}}
	</td>
</tr>
{{/each}}
