﻿
{{#each items}}
<tr>
    <td>{{inc @index}}</td>
    <td>{{formatDate RecCreatedWhen 'lll'}}</td>
    <td class="text-center"><a class="tvd" href="{{MemberURL}}">{{ObjectCode}}</a></td>
    <td>{{Description.Product}}</td>
    <td class="text-center">{{Description.Point}}</td>
    <td class="text-center">{{Description.Money}}</td>
    <td class="text-center">
        {{#if_null Description.Source}}
        ONLINE
        {{else}}
        <a class="tvd" href="{{../baseUrl}}{{Description.Source.DetailUrl}}">{{Description.Source.FullName}}</a>
        {{/if_null}}
    </td>
    <td class="text-center">
        {{#if_equals RecStatus 1}}
            <span class="badge badge-success">อนุมัติแล้ว</span>
            {{else}}
            {{#if_equals RecStatus 2}}
            <span class="badge badge-default">รออนุมัติ</span>
            {{else}}
            <span class="badge badge-default">ระงับแล้ว</span>
            {{/if_equals}}
        {{/if_equals}}
    </td>
</tr>
{{/each}}
