﻿
{{#each items}}
<tr>
    {{#if_not_equals RecStatus -1}}
        <td>{{inc @index}}</td>
        <td>{{formatDate RecCreatedWhen 'lll'}}</td>
        <td class="text-center"><a class="tvd" href="{{MemberURL}}">{{ObjectCode}}</a></td>
        <td class="text-center">{{Description.Name}}</td>
        <td class="text-center">
            {{#if_gt_equals Description.UpdatePoint 0}}
            {{Description.UpdatePoint}}
            {{/if_gt_equals}}
        </td>
        <td class="text-center">
            {{#if_lt Description.UpdatePoint 0}}
            {{Description.UpdatePoint}}
            {{/if_lt}}
        </td>
        <td class="text-center">
            {{Description.RamainPoint}}
        </td>
        <td class="text-center">
            {{Description.Remark}}
        </td>
        <td class="text-center">      
            <a class="tvd" href="{{../baseUrl}}{{Description.Source.DetailUrl}}">{{Description.Source.FullName}}</a>
        </td>
        <td class="text-center">
            {{#if_equals RecStatus 1}}
            <span class="badge badge-success">อนุมัติแล้ว</span>
            {{else}}
            {{#if_equals RecStatus 2}}
            <span class="badge badge-default">รออนุมัติ</span>
            {{else}}
            <span class="badge badge-default">ระงับแล้ว</span>
            {{/if_equals}}
            {{/if_equals}}
        </td>
    {{else}}
        <td>{{inc @index}}</td>
        <td>{{formatDate RecCreatedWhen 'lll'}}</td>
        <td class="text-center"><a class="tvd" href="{{MemberURL}}">{{ObjectCode}}</a></td>
        <td class="text-center">{{Description.Name}}</td>
        <td class="text-center">
            {{Description.UpdatePoint}}
        </td>
        <td class="text-center">
            {{Description.RamainPoint}}
        </td>
        <td class="text-center">
            {{Description.Remark}}
        </td>
        <td class="text-center">
            <a class="tvd" href="{{../baseUrl}}{{Description.Source.DetailUrl}}">{{Description.Source.RoleName}}</a>
        </td>
    {{/if_not_equals}}
</tr>
{{/each}}
