﻿@using tvd.model.Models.CommonDTO.Lookup
@using tvd.model.Models.Enum
@model tvd.ViewModel.MemberViewModel


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-xs-2">
					<label class="control-label"><b>ที่อยู่</b></label>
				</div>
				<div class="col-xs-10">
					<div id="current-address-label" class="address-readonly">
						@Model.CurrentAddress
					</div>
					<div class="form-group address-edit">
						<textarea id="current-address" class="form-control" data-currentaddressid ="@Model.CurrentAddressId"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2">
					<label class="control-label"><b>จังหวัด</b></label>
				</div>
				<div class="col-xs-4">
					<div id="current-address-province-label" class="address-readonly">
						@Model.CurrentAddressProvince
					</div>
					<div class="form-group address-edit">
						@Html.DropDownList("current-province",
						new SelectList(Model.Cities, "CityId", "CityName", Model.CurrentAddressProvinceId),
						"โปรดเลือกจังหวัด",
						new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2">
					<label class="control-label"><b>รหัสไปรษณีย์</b></label>
				</div>
				<div class="col-xs-4">
					<div id="current-address-postalcode-label" class="address-readonly">
						@Model.CurrentAddressPostalCode
					</div>
					<div class="form-group address-edit">
						<input id="current-address-postalcode" type="text" class="form-control" value="@Model.CurrentAddressPostalCode" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-6">
			<h3>ที่อยู่จัดส่งสินค้า</h3>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="radio">
								<label>
									<input type="radio" id="shipment-use-current-address" name="shipment-address-group" @(Model.ShipmentUseCurrentAddress ? "checked" : "") disabled="disabled">
									ที่อยู่เดียวกับที่อยู่ปัจจุบัน
								</label>
							</div>
						</div>
						<div class="row">							
							<div class="radio">
								<label>
									<input type="radio" id="shipment-use-new-address" name="shipment-address-group" @(!Model.ShipmentUseNewAddress ? "checked" : "") disabled="disabled">
									ที่อยู่อื่น
								</label>
							</div>
						</div>
						<div class="row">
							<div class="radio">
								<label></label>
							</div>
						</div>
						<div class="row">
							<div id="shipment-address-label" class="address-readonly">
								@Model.ShipmentAddress
							</div>
							<div class="form-group address-edit">
								<textarea id="shipment-address" class="form-control" data-shipmentaddressid ="@Model.ShipmentAddressId"></textarea>
							</div>
						</div>
						<div class="row">
							<div id="shipment-province-label" class="address-readonly">
								@Model.ShipmentProvince
							</div>
							<div class="form-group address-edit">
								@Html.DropDownList("shipment-province",
								new SelectList(Model.Cities, "CityId", "CityName", Model.ShipmentProvinceId),
								"โปรดเลือกจังหวัด",
								new { @class = "form-control" })
							</div>
						</div>
						<div class="row">
							<div id="shipment-postal-label" class="address-readonly">
								@Model.ShipmentPostalCode
							</div>
							<div class="form-group address-edit">
								<input id="shipment-postalcode" type="text" class="form-control" value="@Model.ShipmentPostalCode" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h3>ที่อยู่จัดส่งใบเสร็จ</h3>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="radio">
								<label>
									<input type="radio" id="invoice-use-current-address" name="invoice-address-group" @(Model.InvoiceUseCurrentAddress ? "checked" : "") disabled="disabled">
									ที่อยู่เดียวกับที่อยู่ปัจจุบัน
								</label>
							</div>
						</div>
						<div class="row">
							<div class="radio">
								<label>
									<input type="radio" id="invoice-use-shipment-address" name="invoice-address-group" @(Model.InvoiceUseShipmentAddress ? "checked" : "") disabled="disabled">
									ที่อยู่เดียวกับที่อยู่จัดส่งสินค้า
								</label>
							</div>
						</div>
						<div class="row">
							<div class="radio">
								<label>
									<input type="radio" id="invoice-use-new-address" name="invoice-address-group" @(Model.InvoiceUseNewAddress ? "checked" : "") disabled="disabled">
									ที่อยู่อื่น
								</label>
							</div>
						</div>

						<div class="row">
							<div id="invoice-address-label" class="address-readonly">
								@Model.InvoiceAddress
							</div>
							<div class="form-group address-edit">
								<textarea id="invoice-address" class="form-control" data-invoiceaddressid ="@Model.InvoiceAddressId"></textarea>
							</div>
						</div>
						<div class="row">
							<div id="invoice-province-label" class="address-readonly">
								@Model.InvoiceProvince
							</div>
							<div class="form-group address-edit">
								@Html.DropDownList("invoice-province",
								new SelectList(Model.Cities, "CityId", "CityName", Model.InvoiceProvinceId),
								"โปรดเลือกจังหวัด",
								new { @class = "form-control" })
							</div>
						</div>
						<div class="row">
							<div id="invoice-postal-label" class="address-readonly">
								@Model.InvoicePostalCode
							</div>
							<div class="form-group address-edit">
								<input id="invoice-postalcode" type="text" class="form-control" value="@Model.InvoicePostalCode" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

