﻿@model tvd.ViewModel.MemberViewModel

@{

}

<div class="tab-pane active">
	<div class="tab-content">
		<div class="row">
			<h2 class="tvd">ความปลอดภัย</h2>
		</div>
	</div>
</div>

<div class="form-group">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-9">
					<h3>ข้อมูลทั่วไป</h3>
				</div>
				<div class="col-sm-3 text-right">
					<h3>
						@if (Model.Source == tvd.model.Models.Enum.Source.MEMBERSHIP_WEBSITE)
						{
							<a id="edit-change-password-mode" data-islegalperson="@Model.IsLegalPerson" href="#">
								<span class="fa fa-pencil"></span>
							</a>
							<a id="save-change-password-mode" data-islegalperson="@Model.IsLegalPerson" href="#" class="hide">
								<span class="fa fa-save"></span>
							</a>
							<a id="close-change-password-mode" data-islegalperson="@Model.IsLegalPerson" href="#" class="hide">
								<span class="fa fa-times"></span>
							</a>
						}
					</h3>

				</div>
			</div>
			<div class="row change-password-readonly">
				<div class="col-sm-2">
					<span>รหัสผ่าน</span>
				</div>
				<div class="col-sm-3">
					<div class="input-group form-group">
						<input id="password-input" type="password" readonly="readonly" class="form-control" value="@Model.Password" />
						<span class="input-group-btn">
							<button id="show-hide-password-button" class="btn btn-default" data-showpassword="false">
								<span class="glyphicon glyphicon-eye-open"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="row change-password-edit">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-5">
							<h4>เปลี่ยนแปลงรหัสผ่าน</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<span>รหัสผ่านปัจจุบัน</span>
						</div>
						<div class="col-sm-3">
							<div class="input-group form-group">
								<input id="current-password-input" type="password" class="form-control" />
								<span class="input-group-btn">
									<button id="current-show-hide-password-button" class="btn btn-default" data-showpassword="false">
										<span class="glyphicon glyphicon-eye-open"></span>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<span>รหัสผ่านใหม่</span>
						</div>
						<div class="col-sm-3">
							<div class="input-group form-group">
								<input id="new-password-input" type="password" class="form-control" />
								<span class="input-group-btn">
									<button id="new-show-hide-password-button" class="btn btn-default" data-showpassword="false">
										<span class="glyphicon glyphicon-eye-open"></span>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<span>ยืนยันรหัสผ่านใหม่</span>
						</div>
						<div class="col-sm-3">
							<div class="input-group form-group">
								<input id="confirm-password-input" type="password" class="form-control" />
								<span class="input-group-btn">
									<button id="confirm-show-hide-password-button" class="btn btn-default" data-showpassword="false">
										<span class="glyphicon glyphicon-eye-open"></span>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>