﻿@model tvd.ViewModel.MemberViewModel
@{
    ViewBag.Title = "Person";
}

<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-2">
                <label class="control-label"><b>ประเภทธุรกิจ</b></label>
            </div>
            <div class="col-sm-4">
				<div id="corporate-titlename-label" class="corporate-readonly">
					@Model.TitleName
				</div>
				<div class="form-group corporate-edit">
					@Html.DropDownList("corporate-title",
					new SelectList(Model.CorporateTitles, "TitleId", "TitleName", Model.TitleId),
					"โปรดเลือกคำนำหน้า",
					new { @class = "form-control" })
				</div>
            </div>
            <div class="col-sm-2">
                <label class="control-label"><b>หมายเลขสมาชิก</b></label>
            </div>
            <div class="col-sm-4">
                @(string.IsNullOrEmpty(Model.MemberCode) ? Model.ReferenceId : Model.MemberCode)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label class="control-label"><b>ชื่อนิติบุคคล</b></label>
            </div>
            <div class="col-sm-4">
				<div id="corporate-name-label" class="corporate-readonly">
					@Model.CorporateName
				</div>
				<div class="form-group corporate-edit">
					<input id="corporate-name" type="text" class="form-control" value="@Model.CorporateName" />
				</div>
            </div>
            <div class="col-sm-2">
				<label class="control-label"><b>หมายเลขโทรศัพท์</b></label>
            </div>
            <div class="col-sm-4">
				<div id="corporate-phone-label" class="corporate-readonly">
					@Model.CorporatePhone
				</div>
				<div class="form-group corporate-edit">
					<input id="corporate-phone" type="text" class="form-control" value="@Model.CorporatePhone" />
				</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
				<label class="control-label"><b>อีเมลล์</b></label>
            </div>
            <div class="col-sm-4">
				<div id="corporate-email-label" class="corporate-readonly">
					@Model.CorporateEmail
				</div>
				<div class="form-group corporate-edit">
					<input id="corporate-email" type="text" class="form-control" value="@Model.CorporateEmail" />
				</div>
            </div>
        </div>        
    </div>
</div>

