﻿@model tvd.ViewModel.MemberViewModel

<div class="tab-pane active">
	<div class="tab-content">
		<div class="row">
			<h2 class="tvd">ข้อมูลสมาชิก</h2>
		</div>
	</div>
</div>

<div class="form-group">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-10">
					<h3>ข้อมูลทั่วไป</h3>
				</div>
				<div class="col-sm-2 text-right">
					@if (Model.Source == tvd.model.Models.Enum.Source.MEMBERSHIP_WEBSITE)
					{
						<a id="edit-person-mode" data-islegalperson="@Model.IsLegalPerson" href="#"><h3><span class="fa fa-pencil"></span></h3></a>
						<a id="save-person-mode" data-islegalperson="@Model.IsLegalPerson" href="#" class="hide"><h3><span class="fa fa-save"></span></h3></a>
					}
				</div>
			</div>
			<div id="tabPerson" class="row">
				@if (Model.IsLegalPerson)
				{
					Html.RenderPartial("~/Views/MemberDetail/View/Person.cshtml");
				}
				else
				{
					Html.RenderPartial("~/Views/MemberDetail/View/Corporate.cshtml");
				}
			</div>
		</div>
	</div>


	<div class="form-group">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-10">
						<h3>ที่อยู่ปัจจุบัน</h3>
					</div>
					<div class="col-sm-2 text-right">
						@if (Model.Source == tvd.model.Models.Enum.Source.MEMBERSHIP_WEBSITE)
						{
							<a id="edit-address-mode" data-islegalperson="@Model.IsLegalPerson" href="#"><h3><span class="fa fa-pencil"></span></h3></a>
							<a id="save-address-mode" data-islegalperson="@Model.IsLegalPerson" href="#" class="hide"><h3><span class="fa fa-save"></span></h3></a>
						}
					</div>
				</div>
				<div class="row">
					@{Html.RenderPartial("~/Views/MemberDetail/View/Address.cshtml");}
				</div>
			</div>
		</div>
	</div>
	@if (Model.Source == tvd.model.Models.Enum.Source.MEMBERSHIP_WEBSITE)
	{
		<div class="form-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-10">
							<h3>บัญชีที่เกี่ยวข้อง</h3>
						</div>
						<div class="col-sm-2 text-right">

						</div>
					</div>
					<div class="row">
						@{Html.RenderPartial("~/Views/MemberDetail/View/RelatedAccount.cshtml");}
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-10">
							<h3>สถานะสมาชิก</h3>
						</div>
						<div class="col-sm-2 text-right">

						</div>
					</div>
					<div class="row">
						@{Html.RenderPartial("~/Views/MemberDetail/View/Status.cshtml");}
					</div>
				</div>
			</div>
		</div>
	}
</div>