﻿
@model tvd.ViewModel.MemberViewModel

@{

}
<div class="tab-pane active">
	<div class="tab-content">
		<div class="row">
			<h2 class="tvd">รายการรออนุมัติ</h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-1">
		<p>จาก</p>
	</div>
	<div class="col-lg-3 form-group">
		<div class='input-group date' id='dtp-from'>
			<input type='text' class="form-control" id="from-date" />
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
	<div class="col-lg-1">
		<p>ถึง</p>
	</div>
	<div class="col-lg-3 form-group">
		<div class='input-group date' id='dtp-to'>
			<input type='text' class="form-control" id="to-date" />
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
	<div class="col-lg-3 form-group">
		<input id="btn-search" type="button" class="btn btn-primary" value="ค้นหา" />
		<input id="btn-export" type="button" class="btn btn-default" value="export" />
	</div>
</div>
<div class="row">
	<div class="col-lg-10">
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="20%">วันเดือนปี เวลา</th>
					<th width="20%" class="text-center">ประเภท</th>
					<th width="40%">รายการรออนุมัติ</th>
					<th width="20%" class="text-center">โดย</th>
				</tr>
			</thead>
			<tbody id="table-result"></tbody>
		</table>
	</div>
	<div class="col-lg-10">
		<div id="m1-pager">
		</div>
	</div>
</div>