﻿@model tvd.ViewModel.MemberViewModel

@{

}
<div class="tab-pane active">
	<div class="tab-content">
		<div class="row">
			<h2 class="tvd">ประวัติข้อมูลสมาชิก</h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-1">
		<span>จาก</span>
	</div>
	<div class="col-lg-3 form-group">
		<div class='input-group date' id='dtp-from'>
			<input type='text' class="form-control" id="from-date" />
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
	<div class="col-lg-1">
		<span>ถึง</span>
	</div>
	<div class="col-lg-3 form-group">
		<div class='input-group date' id='dtp-to'>
			<input type='text' class="form-control" id="to-date" />
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
	<div class="col-lg-3 form-group">
		<input id="btn-search" type="button" class="btn btn-primary" value="ค้นหา" />
		<input id="btn-export" type="button" class="btn btn-default" value="export" />
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="text-center" width="20%">วันเดือนปี เวลา</th>
					<th class="text-center" width="20%">รายการ</th>
					<th width="20%">ค่าเดิม</th>
					<th width="20%">ค่าใหม่</th>
					<th class="text-center" width="20%">โดย</th>
				</tr>
			</thead>
			<tbody id="table-result"></tbody>
		</table>
	</div>
	<div class="col-lg-7">
		<div id="pager">
		</div>
	</div>
</div>