﻿@model tvd.ViewModel.MemberViewModel
@{
    ViewBag.Title = "Person";
}

<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-2">
                <label class="control-label"><b>คำนำหน้า</b></label>
            </div>
            <div class="col-sm-4">
                <div id="person-titlename-label" class="person-readonly">
					@Model.TitleName
				</div>
				<div class="form-group person-edit">
					@Html.DropDownList("person-title",
					new SelectList(Model.PersonTitles, "TitleId", "TitleName", Model.TitleId),
					"โปรดเลือกคำนำหน้า",
					new { @class = "form-control" })
				</div>
            </div>
            <div class="col-sm-2">
                <label class="control-label"><b>หมายเลขสมาชิก</b></label>
            </div>
            <div class="col-sm-4">
                @(string.IsNullOrEmpty(Model.MemberCode) ? Model.ReferenceId : Model.MemberCode)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label class="control-label"><b>ชื่อ</b></label>
            </div>
            <div class="col-sm-4">
                <div id="person-firstname-label" class="person-readonly">
					@Model.FirstName
				</div>
				<div class="form-group person-edit">
					<input id="person-firstName" type="text" class="form-control" value="@Model.FirstName" />
				</div>
            </div>
            <div class="col-sm-2">
                <label class="control-label"><b>นามสกุล</b></label>
            </div>
            <div class="col-sm-4">
				<div id="person-lastname-label" class="person-readonly">
					@Model.LastName
				</div>
				<div class="form-group person-edit">
					<input id="person-lastName" type="text" class="form-control" value="@Model.LastName" />
				</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label class="control-label"><b>วันเดือนปีเกิด</b></label>
            </div>
            <div class="col-sm-4">
				<div id="person-dob-label" class="person-readonly">
					@Model.DOB
				</div>
				<div class="form-group person-edit">
					<div class='input-group date' id='person-dtp'>
						<input type='text' class="form-control" id="dob" value='@Model.DOB' />
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
            </div>
			<div class="col-sm-2">
				<label class="control-label"><b>ไม่ระบุปี</b></label>
			</div>
			<div class="col-sm-4">
				<div class="person-readonly">
					<input id="chk-not-specific-year-label" type="checkbox" @(Model.IsSpecificYear ? "checked='checked'" : ""  ) disabled />
				</div>
				<div class="form-group person-edit">
					<input id="chk-not-specific-year" type="checkbox" @(Model.IsSpecificYear ? "checked='checked'" : ""  )  />
				</div>
			</div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label class="control-label"><b>หมายเลขโทรศัพท์</b></label>
            </div>
            <div class="col-sm-4">
				<div id="person-phone-label" class="person-readonly">
					@Model.Phone
				</div>
				<div class="form-group person-edit">
					<input id="person-phone" type="text" class="form-control" value="@Model.Phone" />
				</div>
            </div>
            <div class="col-sm-2">
                <label class="control-label"><b>อีเมลล์</b></label>
            </div>
            <div class="col-sm-4">
				<div id="person-email-label" class="person-readonly">
					@Model.Email
				</div>
				<div class="form-group person-edit">
					<input id="person-email" type="text" class="form-control" value="@Model.Email" />
				</div>
            </div>
        </div>
    </div>
</div>

