﻿@model tvd.ViewModel.MemberViewModel

<div class="tab-pane active">
	<div class="tab-content">
		<div class="row">
			<h2 class="tvd">ปรับปรุงคะแนน</h2>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<table class="table" cellpadding="0" cellspacing="0">
		<tr>
			<td class="text-center" style="border-right: 1px solid #DDDDDD; width:33.33%">
				<p>
					<h4>คะแนนรอการได้รับ</h4>
				</p>
				<p>
					<h4>@Model.MemberPointDetail.PendingPoint.ToString("n0")</h4>
				</p>
			</td>
			<td class="text-center" style="border-right: 1px solid #DDDDDD; width:33.33%">
				<p>
					<h4>คะแนน ณ ปัจจุบัน</h4>
				</p>
				<p>
					<h4>@Model.MemberPointDetail.CurrentPoint.ToString("n0")</h4>
				</p>
			</td>
			<td class="text-center" style="width:33.33%">
				<p>
					<h4>คะแนนที่จะหมดอายุใน 30 วัน</h4>
				</p>
				<p>
					<h4>@Model.MemberPointDetail.NearlyExpirePoint.ToString("n0")</h4>
				</p>
			</td>
		</tr>
	</table>
</div>

<ul class="nav nav-tabs">
	<li role="presentation" class="active"><a href="#point-adjustment" data-toggle="tab">ปรับปรุงคะแนน</a></li>
	<li role="presentation"><a id="a-reward-redemption" href="#reward-redemption" data-toggle="tab">แลกของกำนัล</a></li>
</ul>
<div class="tab-content clearfix member-tab-content">
	<div id="point-adjustment" class="tab-pane active">
		<div class="row">
			<div class="col-lg-4">
				<h5>ปรับปรุงคะแนน</h5>
			</div>
			<div class="col-lg-1">

			</div>
		</div>
		<div class="row">
			<div class="col-lg-1">
				เพิ่มคะแนน
			</div>
			<div class="col-lg-2 form-group">
				<input id="increase-point" type="number" class="form-control" min="0" max="99999" />
			</div>
			<div class="col-lg-2 form-group">
				<button id="increase-button" class="btn btn-success" style="width:80px;">
					<span class="fa fa-plus-square-o"></span>
					<span>เพิ่ม</span>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-1">
				ลดคะแนน
			</div>
			<div class="col-lg-2 form-group">
				<input id="decrease-point" type="number" class="form-control" min="0" max="99999" />
			</div>
			<div class="col-lg-2 form-group">
				<button id="decrease-button" class="btn btn-danger" style="width:80px;">
					<span class="fa fa-minus-square-o"></span>
					<span>ลด</span>
				</button>
			</div>
		</div>
	</div>
	<div id="reward-redemption" class="tab-pane">
		<div class="row">
			<div class="col-lg-4">
				<h5>แลกของกำนัล</h5>
			</div>
			<div class="col-lg-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 form-group">
				<input id="product-search" type="text" class="form-control" placeholder="ค้นหาสินค้า" />
			</div>
			<div class="col-lg-2">
				<a id="product-search-button" href="javascript:void(0);">
					<span class="fa fa-search"></span>
					ค้นหาสินค้า
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 form-group">
				<button id="redemption-button" class="btn btn-primary form-control">แลกสินค้า</button>
			</div>
			<div class="col-lg-2">

			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<table id="product-list" class="table table-bordered table-striped table-sm">
					<thead>
						<tr>
							<th rowspan="2" class="text-center" width="10%">
								<input id="product-selected-all" type="checkbox" />
							</th>
							<th rowspan="2" class="text-center" width="10%">รหัส</th>
							<th rowspan="2" class="text-center" width="30%">รายละเอียดของกำนัล</th>
							<th rowspan="2" class="text-center" width="10%">ใช้คะแนนเท่านั้น (แต้ม)</th>
							<th colspan="2" class="text-center" width="20%">ใช้คะแนนและเพิ่มเงิน</th>
							<th rowspan="2" class="text-center" width="20%">ประเภทการแลกสินค้า</th>
						</tr>
						<tr>
							<th class="text-center">แต้ม</th>
							<th class="text-center">บาท</th>
						</tr>
					</thead>
					<tbody id="product-result" data-currentpoint="@Model.MemberPointDetail.CurrentPoint"></tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<span id="redemption-information"></span>
			</div>
			<div class="col-lg-2">

			</div>
		</div>
	</div>
</div>