﻿@model tvd.ViewModel.MemberViewModel
@{
    var accounts = Model.MemberMappings;
}

<div class="container">
    
            <div class="row">
                <div class="col-sm-8">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>หมายเลขสมาชิก</td>
                                <td align="center">สมัครโดย</td>
								<td align="center">คะแนนที่โอน</td>
                            </tr>
                        </thead>
                        <tbody>
							@if (accounts != null)
							{
								foreach (var acc in accounts)
								{
									var personId = acc.Source == tvd.model.Models.Enum.Source.MEMBERSHIP_WEBSITE ? acc.MapWithId : acc.ReferenceId; 
									<tr>
										<td><a href="/memberdetail/index?personId=@personId&source=@((int)acc.Source)" target="_blank">@acc.ReferenceId</a></td>
										<td align="center">@tvd.model.Helpers.EnumHelper.GetEnumDescription(acc.Source)</td>
										<td align="center">@acc.PointTransfered</td>
										@*<td><a id="btn-remove-relate-account" href="#"><span class="fa fa-close"></span></a></td>*@
									</tr>
								}
							}
                        </tbody>
                    </table>
                </div>
            </div>
</div>