﻿@model tvd.ViewModel.MemberViewModel
@{
    var questions = Model.Member.Questions;
}
<div class="panel-group">
    <div class="panel panel-default">
        <h3>รหัสผ่าน</h3>
        <div class="row">
            <div class="col-sm-6">
                <label>รหัสผ่าน</label>
                @Html.Password("password" , Model.Member.Person.Password)
            </div>
        </div>       
    </div>

    <div class="panel panel-default">
        <h3>คำถามเพื่อความปลอดภัย</h3>
        @for (var i = 0; i < questions.Count() ; i++)
        {
            <div class="row">
                <div class="col-sm-8">
                    <label>คำถามที่ @(i+1)</label>
                    @Html.TextBox("question-" + (i+1), questions[i].Question.QuestionDetail, new { @class = "form-control" })                  
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <label>คำตอบ</label>
                    @Html.TextBox("answer-" + (i + 1), questions[i].Answer, new { @class = "form-control" })
                </div>
            </div>
        }
    </div>
</div>