﻿@model tvd.ViewModel.MemberViewModel
@{

}
<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<button id="btn-rec-status" 
					class='btn @(Model.Recstatus == tvd.model.Models.Enum.RecStatus.ACTIVE ? "btn-success" : "btn-danger" )' 
					data-status="@((int)Model.Recstatus)">
				@Model.Recstatus.ToString()
			</button>
			<a href="#" id="btn-rec-status-action">
				@{
					if (Model.Recstatus == tvd.model.Models.Enum.RecStatus.ACTIVE)
					{
						<text>
							<span data-status="0">
								Block
							</span>
						</text>
					}
					else
					{
						<text>
							<span data-status="1">
								Unblock
							</span>
						</text>
					}
				}

			</a>
		</div>
	</div>
</div>
