﻿@model tvd.ViewModel.BasePageViewModel

<!DOCTYPE html>

<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TVD Membership</title>
    <meta name="robots" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="~/dist/styles.css">
    <script type="text/javascript" src="~/dist/bundle.js"></script>
    <script type="text/javascript" src="~/node_modules/ckeditor/ckeditor.js"></script>
</head>
<body>

    @{Html.RenderPartial("~/Views/Shared/Header/_Header.cshtml", Model);}

    <main>
        <section class="content-zone">

            <div class="container-fluid">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </section>
    </main>

    @{Html.RenderPartial("~/Views/Shared/Footer/_Footer.cshtml", Model);}
    @{Html.RenderPartial("~/Views/Shared/Script/_OnDocumentReady.cshtml");}

    @if (IsAuthenticated)
    {
        <div id="hidden-routeinfo" class="hide"
             data-emp-id="@UserInfo.EmployeeCode"
             data-page-type-id="@Convert.ToInt32(RequestInfo.PageTypeId)">
        </div>
    }
</body>
</html>
