﻿@model tvd.ViewModel.BasePageViewModel

<!DOCTYPE html>

<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <meta name="robots" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="~/dist/styles.css">
    <script type="text/javascript" src="~/dist/bundle.js"></script>
</head>
<body>

    @RenderBody()

</body>
</html>
