﻿@using tvd.model.Models.Enum
@model tvd.ViewModel.ReportViewModel
@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<div class="col-lg-2 col-md-3 col-sm-12 side-left-menu no-pad ">
    <div class="side-left-menu-block-wrapper sidenav" id="mySidenav">
        <a href="javascript:void(0)" class="closebtn btn-side-left-menu" onclick="closeNav()">
            <i class="fa  inline fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="sub-wrapper-mobile">
            @{ Html.RenderPartial("~/Views/Shared/Sidebar/_Sidebar.cshtml", Model); }
        </div>
    </div>
</div>


<div id="main">
    <span class="openNav btn-side-left-menu" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <i class="fa fa-angle-right inline fa-angle-left" aria-hidden="true"></i>
    </span>
    <div class="col-lg-10 col-md-9 col-sm-12 content-wrapper tab-content LeftMenu">
        <div class="menu-page-block">
            @{ Html.RenderPartial("~/Views/Shared/Breadcrumb/_Breadcrumb.cshtml", Model.SubBreadcrumb); }
        </div>
        <div class="tab-pane active">
            <div class="tab-content">
                <div class="row">
                    <h2 class="tvd">@Model.SubPageTitle</h2>
                    @Html.Hidden("requestVerificationToken", TokenHeaderValue)
                    @Html.Hidden("audit-type-id", (int)AuditActionType.NEW_MEMBERSHIP_APPROVED)


                </div>
              
                <div class="row container">
                    <div class="panel">                            
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-1">จากวันที่</div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" id="from-date" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">ถึงวันเดือนปี</div>
                                <div class="col-xs-3">
                                    <div class='input-group date' id='datetimepicker2'>
                                        <input type='text' class="form-control" id="to-date" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-1">ตัวกรอง</div>
                                <div class="col-xs-3">
                                    @Html.DropDownList("emp-role", 
                                        new SelectList(Model.RoleList, "RoleId", "RoleName"),
                                        "สมัครโดย",
                                        new {@id = "emp-role", @class = "form-control"})
                                </div>
                                <div class="col-xs-3">
                                    <select class="form-control" id="filter-dd">
                                        <option name="filter-dd" value="">ทุกสถานะ</option>
                                        <option name="filter-dd" value="2">รออนุมัติ</option>
                                        <option name="filter-dd" value="1">อนุมัติแล้ว</option>
                                        <option name="filter-dd" value="-1">ระงับแล้ว</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 30px">
                                <div class="col-xs-3">
                                    <button id="report-search-button" class="btn btn-primary" type="button" style="width:120px;">
                                        <span class="glyphicon glyphicon-search"></span> สร้างรายงาน
                                    </button>
                                    <a href="#" style="margin-left: 15px" id="report-clear">ล้างค่า</a>
                                </div>
								<div class="col-xs-9 text-right">
									<button id="report-export-button" class="btn btn-default" type="button" style="width:120px;">
										Export
									</button>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                </div>
                                <div class="card-block">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>วันเดือนปี เวลา</th>
                                            <th class="text-center">เลขสมาชิก</th>
                                            <th class="text-center">ชื่อ-นามสกุลของสมาชิก</th>
                                            <th class="text-center">สมัครโดย</th>
                                            <th class="text-center">สถานะ</th>
                                        </tr>
                                        </thead>
                                        <tbody id="result"></tbody>
                                    </table>
                                    <div class="col-lg-12">
                                        <nav id="pager">
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>