﻿{{#each items}}
<tr>
	<td class="text-center" width="20%">{{formatDate RecCreatedWhen 'lll'}}</td>
	<td class="text-center" width="20%">{{AuditActionTypeDescription}}</td>
	<td>
		<p style="width:200px;">
			{{OldData}}
		</p>
	</td>
	<td>
		<p style="width:200px;">
			{{NewData}}
		</p>	
	</td>
	<td class="text-center" width="20%">{{FullName}}</td>
</tr>
{{/each}}