﻿<ul id="auto-complete-result" class="results" >
  {{#each items}}
      <li data-url="{{Url}}">
          <a href="{{Url}}">
            <span>{{{Name}}}</span>
            <span class="pull-right">
               {{Count}} รายการ
            </span>
          </a>
        </li>
  {{/each}}
</ul>


