/*search*/
.search input:focus + .results {
	display: block
}

.search .results {
	/*display: none;*/
	position: absolute;
	top: 35px;
	left: 0;
	right: 0;
	z-index: 20;
	padding: 0;
	margin: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #cbcfe2 #c8cee7 #c4c7d7;
	background-color: #fdfdfd;
	max-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
}

	.search .results li {
		display: block;
		float: left;
		width: 100%;
	}

		.search .results li img {
			padding-right: 5px;
		}

		.search .results li:first-child {
			margin-top: -1px
		}

			.search .results li:first-child:before, .search .results li:first-child:after {
				display: block;
				content: '';
				width: 0;
				height: 0;
				position: absolute;
				left: 50%;
				margin-left: -5px;
				border: 5px outset transparent;
			}

			.search .results li:first-child:before {
				border-bottom: 5px solid #c4c7d7;
				top: -11px;
			}

			.search .results li:first-child:after {
				border-bottom: 5px solid #fdfdfd;
				top: -10px;
			}

			.search .results li:first-child:hover:before, .search .results li:first-child:hover:after {
				display: none
			}

		.search .results li:last-child {
			margin-bottom: 5px
		}

	.search .results a {
		display: block;
		position: relative;
		margin: 0 -1px;
		padding: 6px 10px 6px 10px;
		color: #808394;
		font-weight: 500;
		text-shadow: 0 1px #fff;
		border: 1px solid transparent;
	}

		.search .results a span {
			font-weight: 200;
			color: #f37430;
		}

		.search .results a:hover span {
			font-weight: 200;
			color: #333;
		}

	/*.search .results a:hover {
    text-decoration: none;
    color: #333;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
	border-left:#f37430 3px solid;
}*/

	.search .results li:hover, .search .results li.selected {
		text-decoration: none;
		color: #333;
		text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
		/*border-color:#f37430;*/
		border-left: #f37430 3px solid;
		/*background-color: #f37430;*/
	}
